:root {
	body {
		margin: 10px;
	}

	#header {
		align-items: center;

		h1 {
			margin: 0;
		}
	}

	&[geckium-one] {
		@import "partials/chrome-8/final";
	}
	&[geckium-one][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone] {
		@import "partials/chrome-21/final";
	}
	&[geckium-one][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone][geckium-twentyfive][geckium-fortyseven] {
		@import "partials/chrome-47/final";
	}
}