:root {
	--accent-color: rgb(51,103,213);
	
	--inner-padding: 16px;
}

:root,
body {
	font-size: 10pt;
}

label,
p,
span,
a,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

h4 {
	color: rgb(117,117,117);
	font-size: 10pt;
	height: 48px;
	align-items: center;
}

spacer {
	flex: 1;
}

@import "partials/window";
@import "partials/button";
@import "partials/footer";