@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}
  
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}
  
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}

:root {
	--accent-color: rgb(51,103,213);
	
	--inner-padding: 16px;
}

:root,
body {
	font-size: 10pt;
}

label,
p,
span,
a,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

h4 {
	color: rgb(117,117,117);
	font-size: 10pt;
	height: 48px;
	align-items: center;
}

spacer {
	flex: 1;
}

@import "partials/window";
@import "partials/button";
@import "partials/navigation-drawer";
@import "partials/pages";
@import "partials/footer";
@import "partials/input";