& {
    --tab-glare-opacity: 0.5;
    --tab-glare: linear-gradient(90deg, transparent, white, transparent);

    --newtab-width: 34px;
    //--newtab-normal: rgb(211, 217, 225, 0.6);
    --newtab-normal: var(--inactive-tab-background-color);
    --newtab-hot: rgb(211, 217, 225, 0.8);
    --newtab-active: rgb(211, 217, 225, 0.4);
}

.tabbrowser-tab {
    &:not([visuallyselected]) {
        .tab-content {
            &::before {
                background: url(assets/img/chrome-21/tabbar/tab_inactive_left.png)
                    no-repeat !important;
                background-position: -6px 0 !important;
            }
            &::after {
                background: url(assets/img/chrome-21/tabbar/tab_inactive_right.png)
                    no-repeat !important;
                background-position: 0 0 !important;
            }
        }

        .tab-context-line {
            &::before {
                background: url(assets/img/chrome-21/tabbar/tab_inactive_center.png)
                    top;
                top: 0;
            }
        }
    }
    &[visuallyselected] {
        .tab-content {
            &::before {
                background: url(assets/img/chrome-21/tabbar/tab_active_left.png)
                    no-repeat !important;
                background-position: -6px 0 !important;
            }
            &::after {
                background: url(assets/img/chrome-21/tabbar/tab_active_right.png)
                    no-repeat !important;
                background-position: 0 0 !important;
            }
        }

        .tab-context-line {
            &::before {
                background: url(assets/img/chrome-21/tabbar/tab_active_center.png)
                    top;
                top: 0;
            }
        }
    }
}
