& {
	--tab-glare-opacity: 0.7;
	--tab-glare: linear-gradient(90deg, rgba(255,255,255,.4) 30%, white 50%, rgba(255,255,255,.4) 70%);

	--newtab-width: 34px;
	--newtab-normal: var(--inactive-tab-background-color);
	--newtab-hot: rgb(211, 217, 225, 0.8);
	--newtab-active: rgb(211, 217, 225, 0.4);
}

.tabbrowser-tab {
	.tab-stack {
		&::after {
			mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_right.png);
		}
	}
	/* bruni: We are changing the favicon of about pages like
		this so we can have era-specific icons. */
	&:not([busy]) {
		&[image="chrome://global/skin/icons/settings.svg"]
		{
			.tab-label {
				&::before {
					content: url(assets/img/chrome-21/tabbar/IDR_SETTINGS_FAVICON.png);
				}
			}
		}
		&[image="chrome://mozapps/skin/extensions/extension.svg"]
		{
			.tab-label {
				&::before {
					content: url(assets/img/chrome-21/tabbar/IDR_EXTENSIONS_FAVICON.png);
				}
			}
		}
	}

	&:not([visuallyselected]) {
		&:not(:first-of-type) {
			.tab-content {
				&::before {
					background: url(assets/img/chrome-21/tabbar/tab_inactive2_left.png)
								no-repeat;
					background-position: 0 2px;
				}
			}

			.tab-stack {
				&::before {
					mask-image: url(assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png);
				}
			}

			.tab-glare-left {
				mask-image: url(assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png);
				mask-position-y: -1px;
				width: 12px;
			}
		}

		.tab-content {
			&::before {
				background: url(assets/img/chrome-21/tabbar/tab_inactive_left.png)
							no-repeat;
				background-position: -6px 0 !important;
			}
			&::after {
				background: url(assets/img/chrome-21/tabbar/tab_inactive_right.png)
							no-repeat;
				background-position: 0 0 !important;
			}
		}

		.tab-context-line {
			&::before {
				background: url(assets/img/chrome-21/tabbar/tab_inactive_center.png)
					top;
				top: 0;
			}
		}
	}

	&[visuallyselected] {
		.tab-content {
			&::before {
				background: url(assets/img/chrome-21/tabbar/tab_active_left.png)
							no-repeat !important;
				background-position: -6px 0 !important;
			}
			&::after {
				background: url(assets/img/chrome-21/tabbar/tab_active_right.png)
							no-repeat !important;
				background-position: 0 0 !important;
			}
		}

		.tab-context-line {
			&::before {
				background: url(assets/img/chrome-21/tabbar/tab_active_center.png)
					top;
				top: 0;
			}
		}
	}
}

.tab-glare-left {
	mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_left.png);
}

.tab-glare-right {
	position: relative;
	mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_right.png);
}