& {
	--toolbarbutton-radius: 3px;
	--toolbarbutton-border-color-hot: rgb(134, 134, 134);
	--toolbarbutton-border-color-active: rgb(125, 125, 125);
	--toolbarbutton-shadow-hot: 0 1px 0 0 rgba(0, 0, 0, 0.3),
								inset 0 1px 2px rgb(255, 255, 255, 75%);
	--toolbarbutton-shadow-normal: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
	--toolbarbutton-width: 27px;
	--toolbarbutton-height: 27px;
	--default-toolbarbutton-icon-fill: rgb(111, 111, 111) !important;
	--toolbarbutton-icon-drop-shadow: drop-shadow(0 1px 0 rgba(255, 255, 255, .3));

	--personal-toolbar-height: 23px;
	--personal-toolbar-item-shadow: 0 1px 0 0 transparent !important;
	--personal-toolbar-item-hover-shadow: 0 1px 0 0 rgba(0, 0, 0, 12%) !important;
	--bookmark-item-color: #000000;
	--bookmark-item-hover-color: #062d75;
	--personal-toolbar-item-hover-bg: rgb(237, 237, 237) !important;
	

	/*&[customthememode="2"],
	&:not(:-moz-lwtheme),
	&[lwtheme-id="#{$gtkplus}"],
	&:not([chrtheme="true"]) {
		--toolbarbutton-icon-fill: rgb(111, 111, 111) !important;
	}*/

	#tabs-newtab-button,
	#TabsToolbar #new-tab-button {
		background: url(assets/img/chrome-21/tabbar/newtab_views.png);

		&:active {
			background: url(assets/img/chrome-21/tabbar/newtab_p_views.png);

			&::before {
				background-color: var(--newtab-active);
			}
		}

		&::before {
			mask-image: url(assets/img/chrome-21/tabbar/newtab_button_mask_views.png);
		}
	}

	.toolbarbutton-1:not(
			#fxa-toolbar-menu-button,
			#tabs-newtab-button,
			#new-tab-button
		) {
		box-shadow: 0 1px 0 0 transparent, inset 0 1px 2px transparent !important;

		&::before {
			background: rgba(255,255,255,1) !important;
			border-radius: var(--toolbarbutton-radius) !important;
		}

		&:not([disabled]) {
			&:hover {
				border-top-color: color-mix(
					in srgb,
					var(--toolbarbutton-border-color-hot) 30%,
					white
				) !important;
				border-bottom-color: color-mix(
					in srgb,
					var(--toolbarbutton-border-color-hot) 80%,
					black
				) !important;
				box-shadow: 0 1px 0 0 rgb(0, 0, 0, 14%),
							inset 0 1px 2px rgb(255, 255, 255, 75%) !important;

				&::before {
					opacity: .3;
				}
			}

			&:active,
			&[open] {
				&::before {
					content: unset;
				}

				background: linear-gradient(
					to bottom,
					rgb(0,0,0,.4),
					rgb(0,0,0,.1) 1%,
				) !important;
				box-shadow: 0 1px 0 0 transparent,
					inset 0 1px 2px rgb(0, 0, 0, 18%) !important;
				border-color: var(
					--toolbarbutton-border-color-active
				) !important;
			}
		}

		&#back-button,
		&#forward-button {
			.toolbarbutton-icon {
				/*width: 15px !important;
				height: 13px !important;*/
			}
		}
		&#reload-button,
		&#home-button {
			.toolbarbutton-icon {
				/*width: 15px !important;
				height: 15px !important;*/
				margin-bottom: 0 !important;
			}
		}
	}

	#star-button-box > #star-button {
		list-style-image: url(assets/img/chrome-21/toolbar/star.png) !important;

		&[starred] {
			list-style-image: url(assets/img/chrome-21/toolbar/star_lit.png) !important;
		}
	}

	// FIXME: Temporarily duplicating this until I find a better way to do it.
	&[lwtheme-id="#{$gtkplus}"] {
		@media (-moz-platform: linux) {
			.toolbarbutton-1:not(
				#fxa-toolbar-menu-button,
				#tabs-newtab-button,
				#new-tab-button
			) {
				
				&#back-button,
				&#forward-button,
				&#reload-button,
				&#stop-button,
				&#home-button {
					&[disabled] {
						opacity: .3 !important;
					}

					.toolbarbutton-icon {
						max-width: 24px !important;
						max-height: 24px !important;
					}
				}

				&#back-button {
					list-style-image: url(moz-icon://stock/go-previous?size=toolbar) !important;
				}
				
				&#forward-button {
					list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
				}
				
				&#reload-button {
					list-style-image: url(moz-icon://stock/view-refresh?size=toolbar) !important;
				}
				
				&#stop-button {
					list-style-image: url(moz-icon://stock/process-stop?size=toolbar) !important;
				}
				
				&#home-button {
					list-style-image: url(moz-icon://stock/go-home?size=toolbar) !important;
				}
			}

			&[moregtkicons="true"] {
				.toolbarbutton-1:not(
					#fxa-toolbar-menu-button,
					#tabs-newtab-button,
					#new-tab-button
				) {
					&#PanelUI-menu-button,
					&#chrome-button,
					&#page-button,
					&#star-button-box,
					&#go-button-box {
						&[disabled] {
							opacity: .3 !important;
						}

						.toolbarbutton-icon,
						image:first-child {
							max-width: 24px !important;
							max-height: 24px !important;
						}
					}

					&#PanelUI-menu-button,
					&#chrome-button {
						list-style-image: url(moz-icon://stock/gtk-preferences?size=toolbar) !important;
					}

					&#page-button {
						list-style-image: url(moz-icon://stock/document-properties?size=toolbar) !important;
					}

					&#go-button-box{
						list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
					}
				}

				#star-button-box {
					#star-button {
						&:not([starred="true"]) {
							list-style-image: url(moz-icon://stock/bookmark-missing?size=toolbar) !important;
						}
						&[starred="true"] {
							list-style-image: url(moz-icon://stock/stock_bookmark?size=toolbar) !important;
						}
					}
				}
			}
		}
	}

	&:not([personalbar="newtab"]) {
		#PersonalToolbar {
			> * {
				margin-top: -5px !important;
				margin-bottom: 1px !important;
			}
		}
	}

	#PersonalToolbar {
		.bookmark-item:not(.menuitem-iconic) {
			position: relative;
			overflow: hidden;
			border-radius: var(--toolbarbutton-radius) !important;
			box-shadow: var(--personal-toolbar-item-shadow);
			border: 1px solid transparent;
			box-sizing: border-box;
			transition: none !important;
		
			&:hover {
				box-shadow: var(--personal-toolbar-item-hover-shadow) !important;
				border: 1px solid rgb(176, 176, 176);
				border-top-color: rgb(205, 205, 204) !important;
				border-bottom-color: rgb(144, 144, 144) !important;
				color: var(--bookmark-item-hover-color) !important;
				transition: all 150ms linear !important;
		
				&::before {
					opacity: 1;
					transition: all 150ms linear !important;
				}
			}
		
			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				background: rgb(255, 255, 255, 80%);
				transition: none !important;
				opacity: 0;
			}
		}
	}
}