& {
	--toolbarbutton-border-color-hot: rgb(192, 192, 192);
	--toolbarbutton-border-color-active: rgb(125, 125, 125);
	--toolbarbutton-shadow-hot: 0 1px 0 0 rgba(0, 0, 0, 0.3),
		inset 0 1px 2px rgb(255, 255, 255, 75%);
	--toolbarbutton-shadow-active: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
	--toolbarbutton-width: 27px;
	--toolbarbutton-height: 27px;
	--personal-toolbar-height: 23px;
	--personal-toolbar-item-shadow: 0 1px 0 0 transparent !important;
	--personal-toolbar-item-hover-shadow: 0 1px 0 0 rgba(0, 0, 0, 12%) !important;
	--bookmark-item-color: #000000;
	--bookmark-item-hover-color: #062d75;
	--personal-toolbar-item-hover-bg: rgb(237, 237, 237) !important;
	--toolbarbutton-radius: 4px;

	&:not(:-moz-lwtheme),
	&[lwtheme-id="#{$gtkplus}"] {
		--toolbarbutton-icon-fill: rgb(111, 111, 111) !important;
	}

	#tabs-newtab-button,
	#TabsToolbar #new-tab-button {
		background: url(assets/img/chrome-21/tabbar/newtab_views.png);

		&:active {
			background: url(assets/img/chrome-21/tabbar/newtab_p_views.png);

			&::before {
				background-color: var(--newtab-active);
			}
		}

		&::before {
			mask-image: url(assets/img/chrome-21/tabbar/newtab_button_mask_views.png);
		}
	}

	.toolbarbutton-1:not(
			#fxa-toolbar-menu-button,
			#tabs-newtab-button,
			#new-tab-button
		) {
		box-shadow: 0 1px 0 0 transparent, inset 0 1px 2px transparent !important;

		&:not([disabled]) {
			&:hover {
				border-top-color: rgb(221, 221, 221) !important;
				border-bottom-color: rgb(144, 144, 144) !important;
				box-shadow: 0 1px 0 0 rgb(0, 0, 0, 14%),
					inset 0 1px 2px rgb(255, 255, 255, 75%) !important;
			}

			&:active,
			&[open] {
				box-shadow: 0 1px 0 0 transparent,
					inset 0 1px 2px rgb(0, 0, 0, 18%) !important;
				border-color: var(
					--toolbarbutton-border-color-active
				) !important;
			}
		}

		&#back-button,
		&#forward-button {
			.toolbarbutton-icon {
				/*width: 15px !important;
				height: 13px !important;*/
			}
		}
		&#reload-button,
		&#home-button {
			.toolbarbutton-icon {
				/*width: 15px !important;
				height: 15px !important;*/
				margin-bottom: 0 !important;
			}
		}
	}

	#star-button-box > #star-button {
		list-style-image: url(assets/img/chrome-21/toolbar/star.png) !important;

		&[starred] {
			list-style-image: url(assets/img/chrome-21/toolbar/star_lit.png) !important;
		}
	}

	#PersonalToolbar {
		&:not([pref="newtab"]) {
			> * {
				margin-top: -5px !important;
				margin-bottom: 1px !important;
			}
		}

		.bookmark-item:not(.menuitem-iconic) {
			position: relative;
			overflow: hidden;
			border-radius: var(--toolbarbutton-radius) !important;
			box-shadow: var(--personal-toolbar-item-shadow);
			border: 1px solid transparent;
			box-sizing: border-box;
			transition: none !important;
		
			&:hover {
				box-shadow: var(--personal-toolbar-item-hover-shadow) !important;
				border: 1px solid rgb(176, 176, 176);
				border-top-color: rgb(205, 205, 204) !important;
				border-bottom-color: rgb(144, 144, 144) !important;
				color: var(--bookmark-item-hover-color) !important;
				transition: all 150ms linear !important;
		
				&::before {
					opacity: 1;
					transition: all 150ms linear !important;
				}
			}
		
			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				background: rgb(255, 255, 255, 80%);
				transition: none !important;
				opacity: 0;
			}
		}
	}
}