& {
    #nav-bar {
        &[securestate="secure"],
        &[securestate="ev"] {
            #identity-icon {
                list-style-image: url(assets/img/chrome-21/toolbar/omnibox_https_valid.png) !important;
            }
        }

        &[securestate="warning"] {
            #identity-icon {
                list-style-image: url(assets/img/chrome-21/toolbar/omnibox_https_warning.png) !important;
            }
        }

        &[securestate="insecure"] {
            #identity-icon {
                list-style-image: url(assets/img/chrome-21/toolbar/omnibox_https_invalid.png) !important;
            }
        }
    }

    #urlbar-background,
    #searchbar {
        outline: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: calc(var(--toolbarbutton-radius) - 1px) !important;
    }
}

.urlbarView {
    margin-top: 3px !important;
}
