menupopup {
	&#contentAreaContextMenu {
		#context-navigation {
			> menuitem {
				appearance: none !important;
				justify-content: unset !important;
				min-height: 23px !important;
				padding-inline-start: 4px !important;
				z-index: 1;

				&:not([disabled]) {
					color: black !important;
					
					&[_moz-menuactive] {
						background-color: rgb(66,129,244) !important;
						color: white !important;
					}
		
					&:not([_moz-menuactive]) {
						.menu-accel-container {
							color: rgb(161,161,146) !important;
						}
					}
				}
			}
		}
		
		#context-sep-navigation {
			margin-left: 0 !important;
		}
	}

	button {
		margin: 0 !important;
		padding: 0 !important;
		padding-inline: 15px !important;
		height: 100% !important;
		background-color: transparent !important;
		border-radius: 0 !important;
		border: 1px solid rgb(205,205,205) !important;
		color: black !important;

		&:not([disabled]) {
			&:hover {
				background-color: rgb(66,129,244) !important;
				border-color: rgb(171,171,171) !important;
				color: white !important;

				z-index: 1 !important;
			}
		}

		&#menu_cut11,
		&#menu_smaller11 {
			margin-right: -1px !important;
		}

		&#menu_paste11,
		&#menu_larger11 {
			margin-left: -1px !important;
		}

		&#menu_smaller11 {
			border-right: 0 !important;
		}

		&#menu_normal11 {
			border: 0 !important;
			padding: 0 !important;
			width: 34px !important;
		}

		&#menu_larger11,
		&#menu_fullScreen11 {
			border-left: 0 !important;
		}

		&#menu_cut11,
		&#menu_copyt11,
		&#menu_paste11 {
			width: 57px !important;
		}

		
	}

	separator {
		display: none !important;
	}

	> menu,
	> menuitem,
	> .menuitemitems {
		padding-inline-start: 4px !important;
	}

	> menu,
	> menuitem {
		appearance: none !important;
		min-height: 23px !important;
		z-index: 1;
	
		&:not([disabled]) {
			color: black !important;
			
			&[_moz-menuactive] {
				background-color: rgb(66,129,244) !important;
				color: white !important;

				&[checked="true"] {
					&[type="checkbox"] {
						list-style-image: url(assets/img/chrome-47/menu/checkbox_h.svg) !important;
					}
				}
			}

			&:not([_moz-menuactive]) {
				.menu-accel-container {
					color: rgb(161,161,146) !important;
				}
			}
		}

		&[checked="true"] {
			.menu-iconic-left {
				appearance: none !important;
				width: 30px !important;

				.menu-iconic-icon {
					display: flex !important;
				}
			}

			&[type="checkbox"] {
				list-style-image: url(assets/img/chrome-47/menu/checkbox.svg) !important;

				.menu-iconic-icon {
					width: 10px !important;
					height: 8px !important;
				}
			}
		}
	}

	> menuseparator {
		appearance: none !important;
		border-top: 1px solid rgb(233,233,233) !important;
		border-bottom: 0 !important;
		padding: 0 !important;
		margin-block: 5px !important;
	}

	.menu-text {
		margin-inline-end: 20px !important;
	}

	.menuitem-right-items {
		margin: 0 !important;
		height: 35px !important;
		margin-block: -6px !important;

		.menuitem-button {
			border-top: 0 !important;
			border-bottom: 0 !important;
		}
	}
}