& {
    #PanelUI-menu-button {
        list-style-image: url(assets/img/chrome-47/toolbar/menu.svg) !important;
    }
}

#tabs-newtab-button,
#TabsToolbar #new-tab-button {
    background: url(assets/img/chrome-47/tabbar/newtab_normal.png) !important;

    &:hover {
        background: url(assets/img/chrome-47/tabbar/newtab_hover.png) !important;
    }

    &:active {
        background: url(assets/img/chrome-47/tabbar/newtab_pressed.png) !important;

        &::before {
            background-color: var(--newtab-active);
        }
    }

    &::before {
        mask-image: url(assets/img/chrome-47/tabbar/newtab_button_mask.png) !important;
    }
}

.bookmark-item {
    transition: all 150ms linear !important;
    &::before {
        transition: all 150ms linear !important;
    }
}