& {
	--urlbarView: white !important;
	--urlbarView-row-height: 28px;

	&[geckium-choice="fortyseven"] {
		#go-button-box {
			width: 56px !important;
			height: var(--urlbar-height-definitive) !important;
			background-color: rgb(77,144,254) !important;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			border-top-width: 1px !important;
			border-left-width: 0px !important;
			border-right-width: 1px !important;
			border-bottom: 1px !important;
			border-color: rgb(56,115,209) !important;
			border-style: solid !important;
			list-style-image: url(assets/img/chrome-47/toolbar/go.svg);
			box-shadow: none !important;

			&::before {
				background: linear-gradient(
					to bottom,
					transparent,
					rgb(64,132,246)
				) !important;
			}

			&:not([disabled]) {
				&:active {
					background-color: rgb(62,120,217) !important;
					box-shadow: 0px 1px 0px 0px rgba(0,0,0,.05) inset !important;
				}

				&:hover {
					border-color: rgb(53,108,197) !important;
				}
			}

			#go-button {
				fill: white !important;
				filter: unset;
			}
		}

		#urlbar-input-container[pageproxystate="invalid"] {
			> #go-button-box {
				list-style-image: url(assets/img/chrome-47/toolbar/search.svg);
			}
		}

		&[geckium-chrflag-search-button-in-omnibox="3"] {
			#urlbar-input-container[pageproxystate="invalid"] {
				#go-button-box {
					display: flex !important;
				}
			}
		}

		&[geckium-chrflag-search-button-in-omnibox="4"] {
			#urlbar-input-container {
				#go-button-box {
					display: flex !important;
				}
			}
		}
	}	
}

#urlbar {
	font-size: 11pt !important;
}

.urlbarView {
	margin-top: 5px !important;
	border-radius: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	padding-block: 3px !important;
	overflow: visible !important;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		background: white !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
		height: 100%;
		top: 0px;
		z-index: -1;
	}

	&::before {
		left: -50%;
	}

	&::after {
		right: -50%;
	}
}

.urlbarView-body-inner {
	margin-inline-start: 1px !important;
	width: calc(100% - 2px) !important;
}

.urlbarView-url {
	color: rgb(11, 128, 96) !important;
}