@-moz-document url-prefix(about),
			   url-prefix(chrome://) {
	checkbox,
	radio {
		margin-block: 0 !important;

		&:not([disabled]):hover {
			.checkbox-check,
			.radio-check {
				background: linear-gradient(
					to top,
					#e0e0e0,
					#f5f4f4
				);
				box-shadow: 0 1px 1px rgb(0, 0, 0, 14%),
					inset 0 1px 2px rgb(255, 255, 255, 75%) !important;
				color: rgb(0, 0, 0) !important;
			}

			.checkbox-label,
			.radio-label {
				color: rgb(0, 0, 0) !important;
			}
		}
		&:not([disabled]):active {
			.checkbox-check,
			.radio-check {
				background: linear-gradient(
					to top,
					#e0e0e0,
					#eeeeee
				);
				box-shadow: 0 1px 1px transparent, inset 0 1px 2px transparent !important;
				color: rgb(0, 0, 0) !important;
			}
		}
		&[focused] .radio-check {
			outline: none !important;
		}
	}

	.checkbox-check,
	.radio-check,
	input[type="radio"] {
		background: linear-gradient(
			to top,
			#e0e0e0,
			#f0f0f0
		);
		border: 1px solid rgb(0, 0, 0, 30%) !important;
		box-shadow: 0 1px 1px rgb(0, 0, 0, 8%),
			inset 0 1px 2px rgb(255, 255, 255, 75%) !important;
	}
	.checkbox-check {
		height: 13px !important;
		width: 13px !important;
	}
	.radio-check,
	input[type="radio"] {
		height: 15px !important;
		width: 15px !important;
	}
	.checkbox-label,
	.radio-label {
		font-size: 9pt !important;
		color: rgb(48, 57, 66);
	}

	.checkbox-check[checked] {
		background-image: url(assets/img/pages/check.png),
			linear-gradient(
				to top,
				#e0e0e0,
				#f0f0f0
			) !important;
		background-color: transparent !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.radio-check[selected],
	input[type="radio"]:checked {
		background-image: url(assets/img/pages/radio.png),
			linear-gradient(
				to top,
				#e0e0e0,
				#f0f0f0
			) !important;
		background-color: transparent !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
}