#google-search {
	#google-input {
		border: 0 !important;
		border-radius: 2px;
		height: 44px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
		transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);

		&:not([disabled]) {
			&:hover,
			&:active,
			&:focus {
				box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
			}
		}
	}
}