& {
	font-family: Arial, sans-serif;
	font-size: 9pt;

	// Custom theme support
	&:not([lwtheme-id*="default-theme"]) {
		&:not([lwtheme-id*="firefox-compact"]) {
			&[lwtheme-id*="{"],
			&[lwtheme-id*="@mozilla.org"] {
				&:not([lwtheme-id*="#{$gtkplus}"]) {
					body {
						background-color: color-mix(in srgb, var(--toolbar-bgcolor, var(--lwt-accent-color)) 70%, black);
						background-image: var(--lwt-newtab-image);
						image-rendering: var(--lwt-newtab-image-rendering);
					}
				}
			}
		}
	}
	

	&[lwtheme-id="firefox-alpenglow@mozilla.org"] {
		body {
			background-image: var(--lwt-additional-images);
			background-position: var(--lwt-background-alignment);
			background-repeat: var(--lwt-background-tiling);
		}
	}
}

body {
	background-position: center;
	background-size: cover;
}

#main {
	margin-inline: auto;
	width: 920px;
}

&[geckium-choice="five"],
&[geckium-choice="six"] {
	#main {
		background: url(assets/chrome-5/product_logo.png) no-repeat 0px 8px;
	}
}

#bookmarksbar-spacing {
	flex-shrink: 0;
}

&[pref="newtab"] {
	#bookmarksbar-spacing {
		height: 49px;
	}
}

@import "most-visited";
@import "recently-closed";
@import "footer";