& {
	--recently-closed-background: #E5EFFE;
	--recently-closed-border-color: rgba(75, 140, 220, 0.3125);
	--recently-closed-color: black;
	--recently-closed-item-color: #063774;

	@media (prefers-color-scheme: dark) {
		--recently-closed-background: #415470;
		--recently-closed-border-color: rgba(206, 220, 236, 0.313);
		--recently-closed-color: white;
		--recently-closed-item-color: #acc0da;
	}

	// Custom theme support
	&:not([lwtheme-id*="default-theme"]) {
		&:not([lwtheme-id*="firefox-compact"]) {
			&[lwtheme-id*="{"],
			&[lwtheme-id*="@mozilla.org"] {
				&:not([lwtheme-id*="#{$gtkplus}"]) {
					--recently-closed-background: color-mix(
						in srgb,
						var(--arrowpanel-background, var(--lwt-accent-color)) 50%,
						transparent
					);
					--recently-closed-border-color: color-mix(
						in srgb,
						var(--toolbarbutton-icon-fill, var(--lwt-text-color)) 50%,
						transparent
					);
					--recently-closed-color: var(--recently-closed-item-color);
					--recently-closed-item-color: var(--toolbarbutton-icon-fill, var(--lwt-text-color));

					&[style*="--arrowpanel-background"] {
						--recently-closed-item-color: var(--arrowpanel-color, var(--toolbarbutton-icon-fill, var(--lwt-text-color)));
					}
				}
				&[lwtheme-id*="#{$gtkplus}"] {
					--recently-closed-item-color: rgb(40,40,238);
		
					--recently-closed-background: color-mix(
						in srgb,
						ActiveCaption 10%,
						transparent
					);
					--recently-closed-border-color: color-mix(
						in srgb,
						color-mix(
							in srgb,
							AccentColor 85%,
							black
						) 50%,
						transparent
					) !important;
				}
			}
		}
	}
}

&[geckium-choice="five"],
&[geckium-choice="six"] {
	#recently-closed {
		box-sizing: unset;
		background-color: var(--recently-closed-background);
		border: 1px solid var(--recently-closed-border-color);
		border-radius: 5px;
		margin-block-start: 34px;
		padding-block: 5px;
		padding-inline: 10px;
		align-items: center;
		font-size: 10pt;
		color: var(--recently-closed-color);
		height: 24px;
		gap: 20px;
	
		> label:first-child {
			font-weight: bold;
		}
	
		.items {
			gap: 20px;
		}
	
		.item {
			all: unset;
			display: flex;
			max-width: 114px;
			align-items: center;
			-moz-context-properties: fill, fill-opacity;
			fill: var(--recently-closed-item-color);
			color: var(--recently-closed-item-color);
			text-decoration: underline;
			cursor: pointer;
	
			&#nav {
				image {
					display: none;
				}
	
				label {
					&::after {
						content: "\00bb";
						margin-inline-start: 2px;
					}
				}
			}
	
			image {
				width: 16px;
				height: 16px;
				margin-right: 2px;
			}
	
			label {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}