:root {
    --tab-glare-opacity: 1;
    --tab-glare: rgb(211, 217, 225, 0.45);

    --tab-sides-width: 15px;
    --tab-width: 194px;
    --tab-distance: 4px;

    &[geckium-choice="five"] {
        .tab-glare-container {
            transition: opacity 100ms linear !important;
        }
    }

    --inactive-tab-background-color: rgb(211, 217, 225, 0.8);
    --tabbrowser-tab-selected: linear-gradient(
        to top,
        rgb(243, 248, 253),
        rgb(252, 254, 255)
    );
    --tab-selected-bgcolor: var(--tabbrowser-tab-selected) !important;
    --tabbrowser-tab-color: black;
    --tab-transition-time: 220ms;
	--tab-height: 28px;

    --newtab-width: 28px;
    --newtab-height: 18px;
    --newtab-normal: rgba(255, 255, 255, 0.01);
    --newtab-hot: rgba(255, 255, 255, 0.1);

    @media (prefers-color-scheme: dark) {
        --tab-glare: rgba(19, 23, 29, 0.45);

        --inactive-tab-background-color: rgba(70, 70, 70, 0.8);
        --tabbrowser-tab-selected: linear-gradient(
            to bottom,
            #616161,
            #5d5d5d
        ) !important;
        --tabbrowser-tab-color: white;
    }

    &:-moz-lwtheme {
        &:not([lwtheme-id*="firefox-compact"]) {
            @media not (prefers-color-scheme: dark) {
                --tabbrowser-tab-selected: linear-gradient(
                    to top,
                    color-mix(
                        in srgb,
                        var(--toolbarbutton-icon-fill) 8%,
                        white
                    ),
                    color-mix(in srgb, var(--toolbarbutton-icon-fill) 5%, white)
                ) !important;
            }

            @media (prefers-color-scheme: dark) {
                --inactive-tab-background-color: color-mix(
                    in oklab,
                    color-mix(in srgb, var(--lwt-accent-color) 80%, black) 80%,
                    transparent
                ) !important;
                --tabbrowser-tab-selected: var(--lwt-accent-color) !important;
            }
        }
    }

    &:not([tabsintitlebar]) {
        .titlebar-items {
            margin-top: -7px !important;
        }
    }

    &[tabsintitlebar] {
        &:not([sizemode="maximized"]) {
            .titlebar-items {
                padding-top: 23px !important;
            }
        }
    }

    &[sizemode="maximized"] {
        .toolbar-items {
            margin-top: -3px !important;
        }
    }
}

@keyframes geckium-progress-throbber {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-576px);
    }
}

@keyframes geckium-waiting-throbber {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2864px);
    }
}

/* bruni: This is the animation responsible for hiding the tab
			when the background reaches min-width. */
@keyframes hide-tab {
    59% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.tab-background {
    margin-block: 0 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 0 !important;
    width: calc(100% - 1px) !important;
    margin-top: 4px !important;
    background-size: 100% 24px !important;
    outline: 0 !important;
}

.tab-loading-burst {
    display: none !important;
}

.tab-content {
    margin-left: -13px !important;
    padding: 0;
    overflow: hidden !important;
}

.tabbrowser-tab {
    position: relative;
    padding: 0;
    overflow: visible !important;
    min-width: 0 !important;
    color: var(--tabbrowser-tab-color) !important;

    &:not([visuallyselected="true"]) {
        &:not(:first-of-type) {
            .tab-content {
                &::before {
                    background: url(assets/img/chrome-5/tabbar/tab_inactive2_left.png)
                        no-repeat;
                    background-position: 0 2px;
                }
            }

            .tab-stack {
                &::before {
                    mask-image: url(assets/img/chrome-5/tabbar/tab_inactive2_alpha_left.png);
                }
            }

            .tab-glare-left {
                mask-image: url(assets/img/chrome-5/tabbar/tab_inactive2_alpha_left.png);
                mask-position-y: -1px;
                width: 12px;
            }
        }

        &:hover {
            .tab-glare-container {
                opacity: var(--tab-glare-opacity);

                /* bruni: In Chrome, the glare shows up faster when hovering. */
                transition: opacity 0.2s linear;
            }
        }

        .tab-content {
            &::before {
                background: url(assets/img/chrome-5/tabbar/tab_inactive_left.png)
                    no-repeat;
                background-position: 0 2px;
            }
        }

        .tab-label {
            opacity: 0.9 !important;
        }

        .tab-icon-stack {
            opacity: 0.6 !important;
        }

        .tab-stack {
            &::before,
            &::after {
                background-color: var(
                    --inactive-tab-background-color
                ) !important;
                //transition: 100ms background-color linear;
            }

            &::before {
                mask-image: url(assets/img/chrome-5/tabbar/tab_alpha_left.png);
                //backdrop-filter: blur(400px);
                left: calc(var(--tab-sides-width) * -1);
            }

            &::after {
                mask-image: url(assets/img/chrome-5/tabbar/tab_alpha_right.png);
            }
        }

        .tab-content {
            &::after {
                background: url(assets/img/chrome-5/tabbar/tab_inactive_right.png)
                    no-repeat;
                background-position: 0px 2px;
            }
        }

        .tab-context-line {
            &::before {
                background: url(assets/img/chrome-5/tabbar/tab_inactive_center.png)
                    top;
                height: var(--tab-height) !important;
                top: 2px;
            }
        }

        .tab-background {
            background: var(--inactive-tab-background-color) !important;
            //transition: 100ms background-color linear;
        }
    }

    &[visuallyselected="true"] {
        position: relative;
        z-index: 1000;

        .tab-content {
            &::before {
                background: url(assets/img/chrome-5/tabbar/tab_active_left.png)
                    no-repeat;
                background-position: 0 2px;
            }

            &::after {
                background: url(assets/img/chrome-5/tabbar/tab_active_right.png)
                    no-repeat;
                background-position: 0 2px;
            }
        }

        .tab-stack {
            &::before,
            &::after {
                background: var(--tabbrowser-tab-selected) !important;
            }

            &::before {
                mask-image: url(assets/img/chrome-5/tabbar/tab_alpha_left.png);
            }

            &::after {
                mask-image: url(assets/img/chrome-5/tabbar/tab_alpha_right.png);
            }
        }

        .tab-context-line {
            &::before {
                background: url(assets/img/chrome-5/tabbar/tab_active_center.png)
                    top;
                top: 2px;
            }
        }

        .tab-background {
            background: var(--tabbrowser-tab-selected) !important;
        }
    }

    &[fadein] {
        &:not([pinned]) {
            &:not([style*="max-width"]) {
                max-width: var(--tab-width) !important;
                transform-origin: left !important;
            }
        }
    }

    /* bruni: This controls the tab "open"/"close" transition. */
    &:not([pinned]) {
        transition: min-width var(--tab-transition-time) ease,
            max-width var(--tab-transition-time) ease !important;
    }

    /* bruni: This makes it so the tab does not disappear when it starts "close" transition 
			  and it also makes the tab disappear when the background reaches min-width just
			  like real Chrome. */
    &:not([pinned], [fadein]) {
        visibility: unset !important;
        pointer-events: none !important;
        animation: hide-tab var(--tab-transition-time) ease;
    }

    .tab-content {
        padding: 0 !important;
        border-left: var(--tab-sides-width) solid transparent !important;
        border-right: 0 !important;
        padding-right: 3px !important;
    }

    &:first-of-type {
        margin-left: 9px !important;
    }
}

.tab-content {
    &::before,
    &::after {
        position: absolute;
        width: var(--tab-sides-width);
        height: 100%;
        pointer-events: none;
        content: "";
    }

    &::before {
        left: calc(var(--tab-sides-width) * -1);
    }

    &::after {
        left: calc(100% - 1px);
    }
}

.tab-context-line {
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 1px) !important;
        content: "";
        height: 12px;
    }
}

#tabbrowser-tabs,
#tabbrowser-arrowscrollbox,
#tabbrowser-tabs[positionpinnedtabs]
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[pinned] {
    min-height: 22px !important;
}

.tab-stack,
.tab-background,
.tab-content,
.tabbrowser-tab {
    height: var(--tab-height) !important;
}

.tab-stack {
    margin-inline-start: calc(var(--tab-distance) + 1px) !important;
    margin-inline-end: var(--tab-distance) !important;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: var(--tab-sides-width);
        mask-size: cover;
        mask-repeat: no-repeat;
        pointer-events: none;
    }

    &::before {
        left: calc(var(--tab-sides-width) * -1);
        height: calc(100% - 2px);
        bottom: 0px;
    }

    &::after {
        left: calc(100% - 1px);
        height: 100%;
        bottom: -2px;
    }
}

/* bruni: This controls the transition of the tabs moving around while a tab is being
			dragged, keep this here so the tab "open"/"close" transition doesn't overwrite it. */
@media (prefers-reduced-motion: no-preference) {
    #tabbrowser-tabs[movingtab]
        > #tabbrowser-arrowscrollbox
        > .tabbrowser-tab[fadein]:not([selected]):not([multiselected]),
    .tabbrowser-tab[tab-grouping],
    .tabbrowser-tab[tabdrop-samewindow] {
        transition: transform 200ms var(--animation-easing-function) !important;
    }

    .tab-throbber[progress]::before,
    .tabbrowser-tab[busy] .tab-throbber:not([progress])::before {
        opacity: 1 !important;
    }

    .tab-throbber[progress]::before {
        background-image: url(assets/img/tabbar/throbber.png) !important;
        width: 576px !important;
        background-size: 576px 16px !important;
        animation: geckium-progress-throbber 1s steps(36) infinite !important;
    }

    .tabbrowser-tab[busy] .tab-throbber:not([progress])::before {
        background-image: url(assets/img/tabbar/throbber_waiting.png) !important;
        width: 2864px !important;
        background-size: 2864px 16px !important;
        animation: geckium-waiting-throbber 5s steps(179) infinite !important;
    }
}

/* bruni: This makes it so the tab does not disappear when it starts "close" transition. */
.tab-icon-pending:not([fadein]),
.tab-icon-image:not([fadein]),
.tab-close-button:not([fadein]),
.tabbrowser-tab:not([fadein])::after,
.tab-background:not([fadein]) {
    visibility: unset !important;
}

.tab-label,
.tab-throbber {
    &:not([fadein]) {
        display: flex !important;
    }
}

.titlebar-spacer {
    display: none !important;
}

#tabbrowser-tabs {
    /* bruni: This will make the alpha for the tabs revert to the normal mask,
			  however, I found this to look more jarring than with it disabled. */
    /*&[movingtab] .tabbrowser-tab:not([visuallyselected="true"]):not(:first-of-type) {
		.tab-content {
			&::before {
				background: url(assets/img/chrome-5/tabbar/tab_inactive_left.png) no-repeat;
			}
		}

		.tab-stack {
			&::before {
				mask-image: url(assets/img/chrome-5/tabbar/tab_alpha_left.png);
			}
		}

		.tab-glare-left {
			mask-image: url(assets/img/chrome-5/tabbar/tab_alpha_left.png);
		}
	}*/

    &:not([secondarytext-unsupported]) {
        .tab-label-container {
            height: 24px !important;
            margin-top: 1px;
        }
    }
}

.tab-icon-stack {
    margin-top: 2px;
}

.tabbrowser-tab,
.tab-stack,
.tab-content {
    min-height: 20px !important;
}

.tab-glare-container {
    position: absolute;
    left: -8px;
    width: calc(100% + 17px);
    height: 100%;
    overflow: hidden;
    opacity: 0;
    margin-top: 4px;

    /* bruni: In Chrome, the glare hides in a slower
				pace when the mouse leaves. */
    transition: opacity 0.5s linear;
}

.tab-glare-middle {
    flex: 1;
}

.tab-glare-left,
.tab-glare-middle,
.tab-glare-right {
    mask-repeat: no-repeat;
    top: 0;
    position: relative;
    overflow: hidden;
}

.tab-glare-left {
    mask-image: url(assets/img/tabbar/tab_alpha_left.png);
    mask-position-y: -1px;
    width: var(--tab-sides-width);
}

.tab-glare-right {
    mask-image: url(assets/img/tabbar/tab_alpha_right.png);

    /* bruni: Why are the masks different in size???  */
    mask-position-y: -3px;
    width: var(--tab-sides-width);
}

.tab-glare {
    position: absolute;
    height: 100%;
    width: 400px;
    transform: translateX(-50%);

    /* bruni: 	By the way, we are using the glare as background hover
				for Chrome 5, if we transition the background of the
				tab it will try to transition from gradient (active) 
				to colour (inactive), and since gradients are not
				animatable (at least in Gecko), you will see a transition
				from transparent to inactive tab colour, and we don't
				want that. */
    background: var(--tab-glare);

    /* bruni: 	Firefox gradient rendering has some issues, in this case,
				sometimes in the middle it produces transparent Y pixels,
				so we are trying to blur it to make it unnoticeable. */
    filter: blur(2px);
}
