button {
	all: unset;

	position: relative;
	display: flex;
	align-items: center;

	&.button {
		overflow: hidden;
		box-sizing: border-box;
		
		margin-block: 6px;
		margin-inline: 3px;
		
		border-radius: 2px;
		height: 36px;

		text-transform: uppercase;
		font-weight: 500;

		transition: background-color 155ms, box-shadow 155ms;
		
		&.raised {
			&:not([disabled]) {
				&:active {
					box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
				}
			}
		}

		&.text {
			&.color {
				&:not([disabled]) {
					&:active {
						background: color-mix(in srgb, var(--primary-color) 40%, transparent);
					}
				}	
			}

			&:not([disabled]) {
				&:active {
					background: rgba(153, 153, 153, .4);
				}
			}
		}

		&.md2-radius {
			border-radius: 4px;
		}

		&.ripple-enabled {
			&:not([disabled]) {
				&:active {
					transition: background-color 0ms, box-shadow 155ms;
				}
			}
	
			&.raised {
				&:not(.desktop) {
					box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
				}
	
				&:not([disabled]) {
					&:not(:active) {
						&:hover {
							box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
						}
					}
				}
			}
	
			&:not(.text) {
				padding-inline: 16px;
				background: var(--primary-color);

				&:not([disabled]) {
					.ripple {
						background: rgba(255, 255, 255, .3);
					}
				}
	
				color: white;

				&.dense {
					height: 32px;
				}
			}

			&.text,
			&.outlined {
				background: transparent;
	
				color: rgb(33,33,33);

				&.color {
					color: var(--primary-color);
	
					&:not([disabled]) {
						&:hover,
						&:focus {
							background: color-mix(in srgb, var(--primary-color) 20%, transparent);
						}

						.ripple {
							background: color-mix(in srgb, var(--primary-color) 40%, transparent)
						}
					}
				}
	
				&:not([disabled]) {
					&:hover,
					&:focus {
						background: rgba(153, 153, 153, .2);
					}

					.ripple {
						background: rgba(153, 153, 153, .4);
					}
				}
			}

			&.text {
				padding-inline: 8px;
			}

			&.outlined {
				border-width: 1px;
				border-style: solid;
				border-color: rgba(0,0,0,.15);
			}
		}

		&[disabled] {
			&.raised {
				box-shadow: none;
			}

			label {
				color: rgba(0,0,0,.26)
			}
		}
	}

	&.floating-action-button {
		margin: 16px;
		padding: 16px;
		border-radius: 50%;
		justify-content: center;
		background: var(--primary-color);
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
		color: white;
		text-transform: uppercase;
		font-weight: 500;
		overflow: hidden;

		&.leading-icon {
			&::before {
				content: "";
				width: 24px;
				height: 24px;
				background: white;
			}
		}

		&:not(.mini) {
			width: 56px;
			height: 56px;

			&.extended {
				border-radius: 28px;
				width: fit-content;

				&::before {
					margin-inline-end: 16px;
				}

				&::after {
					content: attr(label);
				}
			}
		}

		&.mini {
			width: 40px;
			height: 40px;
			padding: 8px;
		}

		.button-box {
			display: none;
		}

		.ripple {
			background: rgba(255, 255, 255, .3);
		}
	}
}