.card {
	min-width: 100px;
	min-height: 100px;
	border-radius: 2px;
	transition: box-shadow 155ms;
	background: white;
	margin: 6px;

	&:not(.desktop, .outlined) {
		box-shadow: var(--elevation-2);
	}

	&:not([disabled], .outlined) {
		&:hover,
		&:focus {
			box-shadow: var(--elevation-8);
		}
	}

	&.outlined {
		border-width: 1px;
		border-style: solid;
		border-color: #e0e0e0;
	}

	> label {
		margin: var(--inner-padding);
	}

	> footer {
		margin: 0;
		padding: 0;
		justify-content: start;

		> * {
			margin-block: 8px;
			margin-inline: 8px;
		}
	}
}