.icon-edit {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/edit.svg");
	}
}

.icon-chat {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/chat.svg");
	}
}

.icon-click {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/click.svg");
	}
}

.icon-smart-button {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/smart-button.svg");
	}
}

.icon-info {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/info.svg");
	}
}

.icon-auto-awesome {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/auto-awesome.svg");
	}
}

.icon-palette {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/palette.svg");
	}
}

.icon-dashboard {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/dashboard.svg");
	}
}

.icon-add {
	&::before {
		mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/add.svg");
	}
}