$icon-data: (
  edit: "edit",
  chat: "chat",
  click: "click",
  smart-button: "smart-button",
  info: "info",
  auto-awesome: "auto-awesome",
  palette: "palette",
  dashboard: "dashboard",
  add: "add",
  tungsten: "tungsten",
  layers: "layers",
  arrow-forward: "arrow-forward"
);

@each $icon, $file in $icon-data {
	.icon-#{$icon} {
		&::before {
			mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/#{$file}.svg");
		}
	}
}