.pages {
	> .pages-container {
		position: relative;
		> .page {
			display: flex;
			opacity: 0;
			transform: translateY(40px);
			visibility: hidden;
			position: absolute;
			transition: all 100ms cubic-bezier(0.4, 0.0, 1, 1) !important;
			inset: 0;
			flex: 1;
			padding: var(--inner-padding);
			
			&[selected="true"] {
				transform: none;
				visibility: visible;
				transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
				opacity: 1;
			}
		}
	}
}