.pages {
	> .pages-container {
		position: relative;
		> .page {
			display: flex;
			opacity: 0;
			transform: translateY(40px);
			visibility: hidden;
			position: absolute;
			transition: all 150ms linear;
			inset: 0;
			flex: 1;
			padding: var(--inner-padding);
			
			&[selected="true"] {
				transform: none;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}