/* Chrome 0 -> 4 */
@import "chrome-1/final.au";

/* Chrome 27 -> ~47 */
:root[geckium-one][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone][geckium-twentyfive][geckium-fortyseven] {
	@import "chrome-47/final.au";
}