:root {
	&[geckium-choice="five"],
	&[geckium-choice="six"],
	&[geckium-choice="eleven"],
	&[geckium-choice="twentyone"],
	&[geckium-choice="twentyfive"] {
		/* .control-button - Picture-in-Picture buttons. */
		button:not(.control-button) {
			appearance: button !important;

			/* TODO: Find the correct colour for buttons. */
			color: black !important;
		}
	}
}