:root {
	&[geckium-choice="four"],
	&[geckium-choice="five"],
	&[geckium-choice="six"],
	&[geckium-choice="eleven"],
	&[geckium-choice="twentyone"],
	&[geckium-choice="twentyfive"] {
		input[type="text"] {
			appearance: auto !important;
			border-radius: 0 !important;
			border: 1px solid rgb(217, 217, 217) !important;
			background-color: white !important;

			&:focus-within {
				outline: 0 !important;
			}
		}
	}
}