menupopup {
	button {
		min-width: 0 !important;
	}
	
	> menu,
	> menuitem {
		.menu-text {
			margin-inline-end: 48px !important;
		}
	}

	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}
}