menupopup {
	button {
		min-width: 0 !important;
	}

	> menu,
	> menuitem {
		.menu-text {
			margin-inline-end: 48px !important;
		}
	}

	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}
}

#menu_find11,
#menu_savePage11,
#menu_print11,
#tools11-menu,
#menu_settings11,
#bookmarks-menu {
	display: none;
}
