:root {
    --titlebar-active: linear-gradient(
        to bottom,
        rgb(97, 162, 241),
        rgb(72, 140, 222) 40px
    );
    --titlebar-inactive: linear-gradient(
        to bottom,
        rgb(163, 201, 247),
        rgb(147, 186, 234) 40px
    );

    &[privatebrowsingmode="temporary"] {
        --titlebar-active: linear-gradient(
            to bottom,
            rgb(97, 122, 156),
            rgb(80, 105, 141) 40px
        ) !important;
        --titlebar-inactive: linear-gradient(
            to bottom,
            rgb(147, 161, 178),
            rgb(128, 143, 161) 40px
        ) !important;

        #fxa-toolbar-menu-button {
            display: none !important;
        }
    }

    @import "titlebar/nocomp";

    &:-moz-lwtheme {
        /* bruni: This entire code takes care of custom themes support for titlebar */

        &:not([lwtheme-id*="firefox-compact"]) {
            &[style*="--lwt-additional-images"] {
                &[windowtype="navigator:browser"] > body {
                    background: var(--lwt-additional-images),
                        var(--lwt-accent-color) !important;
                    background-position: var(
                        --lwt-background-alignment
                    ) !important;
                    background-position-y: top !important;
                    background-repeat: var(--lwt-background-tiling) !important;
                }

                /* 	bruni: I like this theme but this theme doesn't
						   make use of the header image, which would
						   be more appropriate, so we are gonna fix
						   it like this for now... */
                &[lwtheme-id="{49aa8e5f-f9d6-4556-a881-010b048e8636}"] {
                    &[windowtype="navigator:browser"] > body {
                        background-position-y: top -65px !important;
                    }
                }
            }

            &[style*="--lwt-header-image"] {
                &[windowtype="navigator:browser"] > body {
                    background: var(--lwt-header-image), var(--lwt-header-image),
                        var(--lwt-additional-images) !important;
                    background-position: top right, bottom right !important;
                    background-position-y: top !important;
                    background-size: auto, 100% 1px !important;
                    background-repeat: no-repeat, repeat-y !important;
                }

                #navigator-toolbox {
                    background: var(--lwt-header-image) !important;
                    background-position: top right !important;
                    background-repeat: no-repeat !important;
                    //margin-top: -2px !important;
                    box-shadow: none !important;
                }
            }

            &[customthememode="2"] {
                &[windowtype="navigator:browser"] > body,
                #navigator-toolbox {
                    background: transparent !important;
                }
            }
        }

        /* bruni: Firefox is weird, if we set the root to be transparent,
				  then it takes body's background. The lowest we can go in
				  alpha is 0.002 for that bug (assuming it's one) to not happen. */
		background: rgba(1, 1, 1, 0.002) !important;
		
		@media not (-moz-ev-native-controls-patch) {
			background: white !important;
		}
    }
}

#private-browsing-indicator-with-label {
    align-items: end !important;
    margin-inline: 0 !important;
    margin-inline-start: 5px !important;
    margin-inline-end: -4px !important;
}

.private-browsing-indicator-icon {
    list-style-image: url("chrome://userchrome/content/assets/img/titlebar/otr_icon.png") !important;
    width: auto !important;
    height: auto !important;
}

[data-l10n-id="private-browsing-indicator-label"] {
    display: none !important;
}
