:root {
	--nav-bar: linear-gradient(
		to top,
		rgb(218, 231, 247),
		rgb(230, 239, 251),
		rgb(245, 249, 254)
	);

	--chrome-content-separator-color: transparent !important;
	--toolbar-start-end-padding: 2px !important;
	--inner-border-color: #dfdfdf;

	--nav-bar-height: 37px;

	--toolbarbutton-width: 29px;
	--toolbarbutton-menu-width: 36px;
	--toolbarbutton-height: 27px;
	--toolbarbutton-inner-padding: 5px !important;
	--toolbarbutton-border-color-normal: rgb(198, 206, 228);
	--toolbarbutton-border-color-hot: rgb(163, 174, 197);
	--toolbarbutton-border-color-active: rgb(171, 181, 203);
	--toolbarbutton-active-background: rgb(0, 0, 0, 10%) !important;
	--toolbarbutton-outer-padding: 3px !important;
	--toolbarbutton-gradient: linear-gradient(
		to top,
		rgb(222, 234, 248),
		rgb(240, 245, 253)
	);
	--toolbarbutton-shadow-active: inset 0 0 0 1px var(--toolbarbutton-inner-border-color-normal);
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-radius: 6px;
	--toolbarbutton-disabled-opacity: 1 !important;

	--personal-toolbar: linear-gradient(to top, #ecf3fc, #dae7f7);
	--personal-toolbar-height: 25px;
	--personal-toolbar-border-bottom: rgb(182, 186, 192);
	--personal-toolbar-item-shadow: inset 0 0 0 1px transparent,
		0 0 0 1px transparent, 0 1px 1px 2px transparent,
		inset 0 0 1px 1px transparent;
	--personal-toolbar-item-hover-shadow: inset 0 0 0 1px
			rgb(255, 255, 255, 30%),
		0 1px 1px 2px rgb(0, 0, 0, 6%), inset 0 0 1px 1px transparent;
	--personal-toolbar-item-hover-bg: rgba(255, 255, 255, 0.5) !important;

	--bookmark-item-color: #062d75;
	--bookmark-item-color-shadow: rgb(255, 255, 255, 50%);

	--placed-chevron-width: 15px;

	@media (prefers-color-scheme: dark) {
		--nav-bar: linear-gradient(to bottom, #5d5d5d, #4c4c4c) !important;
		--personal-toolbar: linear-gradient(
			to bottom,
			#4c4c4c,
			#575757
		) !important;
		--personal-toolbar-border-bottom: rgb(91, 91, 91);

		--inner-border-color: rgb(79, 79, 79);

		--toolbarbutton-border-color-normal: rgb(190, 190, 190);
		--toolbarbutton-border-color-hot: rgb(196, 196, 196);
		--toolbarbutton-border-color-active: rgb(199, 199, 199);

		--navigation-buttons-separator: rgb(209, 209, 209);

		--bookmark-item-color: #95b4ee;
		--bookmark-item-color-shadow: rgba(0, 0, 0, 0.5);
	}

	// if !gtkplus
	&:not([lwtheme-id="#{$gtkplus}"]) {
		--toolbarbutton-inner-border-color-normal: rgba(255, 255, 255, 0.3);
		--navigation-buttons-separator: rgb(221, 229, 243);
	}
	// else
	&[lwtheme-id="#{$gtkplus}"] {
		--nav-bar: -moz-dialog !important;

		--toolbarbutton-border-color-normal: -moz-dialogtext;
		--toolbarbutton-border-color-hot: -moz-dialogtext;
		--toolbarbutton-border-color-active: -moz-dialogtext;
		--toolbarbutton-gradient: var(--nav-bar) !important;
		--toolbarbutton-icon-fill: -moz-dialogtext !important;

		--personal-toolbar: var(--nav-bar) !important;
		--bookmark-item-color: -moz-dialogtext !important;

		#urlbar-container {
			--toolbarbutton-radius: 4px;
		}
		
		@media (-moz-platform: linux) {
			.toolbarbutton-1:not(
				#fxa-toolbar-menu-button,
				#tabs-newtab-button,
				#new-tab-button
			) {
				&#back-button,
				&#forward-button,
				&#reload-button,
				&#stop-button,
				&#home-button {
					border: 0 !important;

					&[disabled] {
						opacity: .3 !important;
					}
	
					.toolbarbutton-icon {
						max-width: 24px !important;
						max-height: 24px !important;
					}
				}
	
				&#back-button {
					list-style-image: url(moz-icon://stock/go-previous?size=toolbar) !important;
				}
				
				&#forward-button {
					list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
				}
				
				&#reload-button {
					list-style-image: url(moz-icon://stock/view-refresh?size=toolbar) !important;
				}
				
				&#stop-button {
					list-style-image: url(moz-icon://stock/process-stop?size=toolbar) !important;
				}
				
				&#home-button {
					list-style-image: url(moz-icon://stock/go-home?size=toolbar) !important;
				}

				&#star-button-box,
				&#go-button-box {
					background: var(--urlbarView) !important;
				}

				&#star-button-box {
					border-right: 0 !important;
				}

				&#go-button-box {
					border-left: 0 !important;
				}
			}
			
			&[moregtkicons="true"] {
				.toolbarbutton-1:not(
					#fxa-toolbar-menu-button,
					#tabs-newtab-button,
					#new-tab-button
				) {
					&#PanelUI-menu-button,
					&#chrome-button,
					&#page-button,
					&#star-button-box,
					&#go-button-box {
						&[disabled] {
							opacity: .3 !important;
						}
					}

					&#PanelUI-menu-button,
					&#chrome-button,
					&#page-button {
						border: 0 !important;

						.toolbarbutton-icon,
						image:first-child {
							max-width: 24px !important;
							max-height: 24px !important;
						}
					}
	
					&#PanelUI-menu-button,
					&#chrome-button {
						list-style-image: url(moz-icon://stock/gtk-preferences?size=toolbar) !important;
					}
	
					&#page-button {
						list-style-image: url(moz-icon://stock/document-properties?size=toolbar) !important;
					}

					&#star-button-box,
					&#go-button-box {
						.toolbarbutton-icon,
						image:first-child {
							max-width: 16px !important;
							max-height: 16px !important;
						}
					}
	
					&#star-button-box {
						#star-button {
							&:not([starred="true"]) {
								list-style-image: url(moz-icon://stock/bookmark-missing?size=toolbar) !important;
							}
							&[starred="true"] {
								list-style-image: url(moz-icon://stock/stock_bookmark?size=toolbar) !important;
							}
						}
					}
	
					&#go-button-box {
						list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
					}
				}
			}
		}
	}

	// if !lwtheme
	&:not(:-moz-lwtheme) {
		--toolbarbutton-icon-fill: rgb(65, 99, 154) !important;
	}
	// else
	&:-moz-lwtheme {
		/* bruni: This entire code takes care of custom themes support for toolbars */
		&[lwtheme-id*="firefox-compact"] {
			@media (prefers-color-scheme: dark) {
				--toolbarbutton-icon-fill: rgb(49, 49, 49) !important;
			}
		}
		&:not([lwtheme-id*="firefox-compact"]) {
			&:not([lwtheme-id*="#{$gtkplus}"]) {
				@import "titlebar/nocomp";
				
				--bookmark-item-color: var(--toolbar-color, var(--lwt-text-color, var(--arrowpanel-color)));

				--nav-bar: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
				--personal-toolbar: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;

				&[personalbar="newtab"] {
					--personal-toolbar: color-mix(
						in srgb,
						var(--toolbarbutton-icon-fill) 10%,
						white
					) !important;
					--personal-toolbar-border: color-mix(
						in srgb,
						var(--toolbarbutton-icon-fill) 80%,
						black
					) !important;
				}

				--toolbarbutton-border-color-normal: color-mix(
					in srgb,
					var(--toolbarbutton-icon-fill) 50%,
					white
				);
				--toolbarbutton-border-color-hot: color-mix(
					in srgb,
					var(--toolbarbutton-icon-fill) 40%,
					white
				);
				--toolbarbutton-border-color-active: color-mix(
					in srgb,
					var(--toolbarbutton-icon-fill) 30%,
					white
				);
				--toolbarbutton-gradient: linear-gradient(
					to bottom,
					rgb(255, 255, 255),
					color-mix(
						in srgb,
						var(--toolbarbutton-icon-fill) 10%,
						white
					)
				);

				&[customthememode="1"] {
					body,
					#navigator-toolbox {
						background: transparent !important;
					}

					&[style*="--lwt-additional-images"] {
						#nav-bar,
						#PersonalToolbar {
							background-color: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
							background-image: var(--lwt-additional-images) !important;
							background-position: var(--lwt-background-alignment) !important;
							background-repeat: var(--lwt-background-tiling) !important;
						}

						#nav-bar {
							background-position-y: calc(var(--tab-height) * -1) !important;
						}

						#PersonalToolbar {
							background-position-y: calc((var(--tab-height) + var(--nav-bar-height)) * -1) !important;
						}
					}

					&[style*="--lwt-header-image"] {
						#nav-bar,
						#PersonalToolbar {
							background-color: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
							background-image: var(--lwt-header-image) !important;
							background-position: top right !important;
							background-repeat: no-repeat !important;
						}

						#nav-bar {
							background-position-y: calc(var(--tab-height) * -1) !important;
						}

						#PersonalToolbar {
							background-position-y: calc((var(--tab-height) + var(--nav-bar-height)) * -1) !important;
						}
					}
				}
			}
		}
	}
	
	&[profilepicbutton="true"] {
		&[profilepic="chromium"],
		&[profilepic="custom"] {
			#fxa-toolbar-menu-button {
				> .toolbarbutton-badge-stack > vbox {
					background-size: contain;
					background-repeat: no-repeat;
					background-position: bottom;
				}

				#fxa-avatar-image {
					display: none !important;
				}
			}
		}

		&[profilepic="geckium"] {
			#fxa-avatar-image {
				list-style-image: url("chrome://userchrome/content/windows/gflags/imgs/logo.svg") !important;
			}
		}

		&[profilepic="chromium"] {
			$profile-pictures: 25; // bruni: Set the amount of profile pictures
			@for $i from 0 through $profile-pictures {
				&[profilepicchromium="#{$i}"] {
					#fxa-toolbar-menu-button > .toolbarbutton-badge-stack > vbox {
						background-image: url(assets/img/profile/#{$i}.png);
					}
	
					toolbarbutton.subviewbutton {
						&#fxa-manage-account-button {
							&::before {
								background-image: url(assets/img/profile/#{$i}.png);
								background-size: auto !important;
							}
						}
					}
				}
			}
		}
	
		&[profilepic="custom"] {
			#fxa-toolbar-menu-button > .toolbarbutton-badge-stack > vbox {
				background-image: var(
					--custom-profile-picture,
					url(assets/img/profile/0.png)
				);
			}
	
			toolbarbutton.subviewbutton {
				&#fxa-manage-account-button {
					&::before {
						background-image: var(
							--custom-profile-picture,
							url(assets/img/profile/0.png)
						);
					}
				}
			}
		}
	
		&[profilepic="firefox"] {
			#fxa-toolbar-menu-button {
				.toolbarbutton-badge-stack > vbox > #fxa-avatar-image {
					width: 34px !important;
					height: 34px !important;
					border-radius: 50% !important;
					margin-bottom: 2px !important;
					box-shadow: 0 1px 1px rgb(0, 0, 0, 30%);
				}
			}
		}
	}
	&[profilepicbutton="false"] {
		#fxa-toolbar-menu-button {
			display: none !important;
		}
	}

	&:not([customizing]) {
		.toolbarbutton-1[disabled] {
			.toolbarbutton-badge-stack,
			.toolbarbutton-icon,
			image:first-of-type {
				opacity: 0.35;
				filter: saturate(1.5);
			}
		}
	}

	&[tabsintitlebar] {
		#tabbrowser-arrowscrollbox {
			padding-top: 12px !important;
		}
	}

	&:not([tabsintitlebar]) {
		.toolbar-items {
			padding-top: 0 !important;
		}

		.toolbar-items {
			margin-top: -3px !important;
		}
	}
	&[sizemode="normal"] {
		#toolbar-menubar:not([inactive]) {
			z-index: 1;
		}
	}

	&[sizemode="maximized"],
	&[sizemode="fullscreen"] {
		#fxa-toolbar-menu-button {
			height: calc(var(--tab-height) - 9px);
			margin-inline-start: 3px !important;
			margin-inline-end: 5px !important;
			margin-block-start: -2px !important;
		}

		#nav-bar,
		#PersonalToolbar,
		.notificationbox-stack {
			margin-inline: 0 !important;
		}

		#nav-bar {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}

		&[tabsintitlebar] {
			#tabbrowser-arrowscrollbox {
				padding-top: 0px !important;
			}
		}

		#navigator-toolbox-background {
			&::before {
				left: 0;
				right: 0;
				bottom: 1px;
			}
		}

		#nav-bar {
			&::before,
			&::after {
				display: none !important;
			}
		}

		#browser,
		#customization-container {
			box-shadow: 0 !important;
			border: none;
			margin: 0;
			margin-top: -1px !important;
		}
	}

	&[sizemode="fullscreen"] {
		#fullscr-toggler {
			display: none !important;
		}
	}

	&[geckium-choice="five"],
	&[geckium-choice="six"] {
		.toolbarbutton-1:not(
				#fxa-toolbar-menu-button,
				#tabs-newtab-button,
				#new-tab-button
			) {
			&#unified-extensions-button,
			&[type="menu"]:not(#back-button, #forward-button),
			&#PanelUI-menu-button,
			&[class*="webextension"] {
				border: 0 !important;
				background: transparent !important;
				transition: background-color 100ms linear;

				&:not([class*="webextension"], #PlacesChevron) {
					width: var(--toolbarbutton-menu-width) !important;
				}

				&::after,
				&::before {
					content: unset !important;
				}

				&:not([disabled]) {
					&:hover {
						border: 1px solid rgb(201, 210, 221);
						background-color: rgba(255, 255, 255, 0.6) !important;

						.toolbarbutton-badge-stack,
						.toolbarbutton-icon,
						image:first-of-type {
							filter: unset;
						}
					}

					&:active,
					&[open] {
						border: 1px solid rgb(201, 210, 221);
						background-color: rgba(255, 255, 255, 0.3) !important;
					}
				}
			}
		}
	}

	&[personalbar="newtab"] {
		--personal-toolbar: rgb(210, 225, 246) !important;
		--personal-toolbar-border: rgb(172, 201, 238) !important;

		&[geckium-choice="five"],
		&[geckium-choice="six"],
		&[geckium-choice="eleven"],
		&[geckium-choice="twentyone"],
		&[geckium-choice="twentyfive"] {
			#PersonalToolbar {
				position: fixed !important;
				top: calc(var(--tab-height) + var(--nav-bar-height) + var(--personal-toolbar-height) - 1px);
				left: 9px;
				z-index: 1;
				width: calc(100% - 18px);
				height: calc(var(--personal-toolbar-height) + 10px) !important;
				margin: 0 !important;
				padding: 2px !important;
				border: 1px solid var(--personal-toolbar-border) !important;
				border-radius: 6px !important;
	
				&::before,
				&::after {
					content: unset !important;
				}
			}	
		}
	}

	&[personalbar="newtab"] {
		#PersonalToolbar {
			#PlacesToolbar {
				margin-top: 0 !important;
			}
		}
	}
	&:not([personalbar="newtab"]) {
		#PersonalToolbar {
			> * {
				margin-top: -5px !important;
			}
		}	
	}
}

#navigator-toolbox {
	background: transparent !important;
	box-shadow: none !important;
	border-top: 0 !important;
	border-bottom: 0 !important;

	&[fullscreenShouldAnimate] {
		transition: none !important;
	}
}

#nav-bar,
#PersonalToolbar,
.notificationbox-stack {
	margin-inline: 2px;
}

#nav-bar {
	background: var(--nav-bar) !important;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	align-items: center;
	padding-inline: var(--toolbar-start-end-padding) !important;
	height: var(--nav-bar-height);
	box-shadow: none !important;

	&::before,
	&::after {
		position: absolute;
		content: "";
		height: 39px;
		width: 3px;
		top: -2px;
	}

	&::before {
		left: -2px;
		background: url(assets/img/chrome-5/toolbar/content_top_left_corner.png);
	}

	&::after {
		top: -2px;
		left: calc(100% - 1px);
		background: url(assets/img/chrome-5/toolbar/content_top_right_corner.png);
	}

	&[unifiedextensions="hide"] {
		#unified-extensions-button {
			position: absolute !important;
			left: 0;
			top: var(--urlbar-height-definitive);
			border: 0 !important;
			width: 0 !important;
			height: 0 !important;
			padding: 0 !important;
			margin: 0 !important;
			opacity: 0 !important;
		}
	}

	&:not([urlbar-exceeds-toolbar-bounds]) {
		overflow: visible !important;
	}

	&:not(:-moz-lwtheme),
	&[lwtheme-id="#{$gtkplus}"] {
		box-shadow: none !important;
	}
}

#nav-bar-customization-target,
#PanelUI-button {
	align-items: center;
	margin-top: -1px;
}

#PanelUI-button {
	display: none !important;
}

.close-icon:hover {
	background-color: transparent !important;
}

#navigator-toolbox-background {
	position: relative;

	@media (-moz-platform: linux) {
		appearance: none !important;
	}

	&::before {
		content: "";
		position: absolute;
		left: 3px;
		right: 3px;
		bottom: 1px;
		height: 1px;
		box-shadow: 0 1px 0 0 var(--personal-toolbar-border-bottom) !important;
		z-index: 1;
	}
}

toolbar[overflowable][customizing] > .customization-target {
	overflow: visible !important;
}

#browser,
#customization-container {
	position: relative;
	border: 1px solid var(--inner-border-color);
	margin: 2px;
	margin-top: -1px;
	box-shadow: 0 2px 0 0 rgb(0, 0, 0, 24%);

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 3px;
		background-repeat: repeat-y;
	}

	&::before {
		left: -3px;
		background: url(assets/img/chrome-5/toolbar/content_bookmark_left.png);
	}

	&::after {
		left: 100%;
		background: url(assets/img/chrome-5/toolbar/content_bookmark_right.png);
	}
}

#TabsToolbar {
	background: transparent !important;
	position: relative;
	--toolbarbutton-inner-padding: 0 !important;

	&::before {
		content: "";
		position: absolute;
		left: 3px;
		right: 3px;
		bottom: -1px;
		height: 23px;
		background: url(assets/img/chrome-5/tabbar/tabstoolbar_shadow_modified.png)
			bottom;
		pointer-events: none;
		z-index: 100;
	}
}

#stop-reload-button {
	margin: 0 !important;
}

toolbarspring {
	height: var(--toolbarbutton-height);
}

.toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button
	) {
	position: relative;
	padding: 0 !important;
	background: var(--toolbarbutton-gradient) !important;
	background-clip: padding-box !important;
	fill: var(--toolbarbutton-icon-fill) !important;
	margin: 0 var(--toolbarbutton-outer-padding) !important;
	width: var(--toolbarbutton-width) !important;
	height: var(--toolbarbutton-height) !important;
	align-items: center;
	justify-content: center;
	transition: all 150ms linear;
	border: 1px solid var(--toolbarbutton-border-color-normal);

	/* bruni: 	let's separate radius like this so
				we can easily override each individually
				later when needed.						*/
	border-top-left-radius: var(--toolbarbutton-radius) !important;
	border-top-right-radius: var(--toolbarbutton-radius) !important;
	border-bottom-left-radius: var(--toolbarbutton-radius) !important;
	border-bottom-right-radius: var(--toolbarbutton-radius) !important;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		transition: box-shadow 100ms linear;

		border-top-left-radius: calc(
			var(--toolbarbutton-radius) - 2px
		) !important;
		border-top-right-radius: calc(
			var(--toolbarbutton-radius) - 2px
		) !important;
		border-bottom-left-radius: calc(
			var(--toolbarbutton-radius) - 2px
		) !important;
		border-bottom-right-radius: calc(
			var(--toolbarbutton-radius) - 2px
		) !important;
	}

	&::before {
		height: 35%;
		opacity: 0;
		background: linear-gradient(to top, black, transparent);
		transition: opacity 100ms linear;
	}

	&::after {
		height: 100%;
		box-shadow: var(--toolbarbutton-shadow-active);
	}

	&:not([disabled]) {
		&:hover {
			border: 1px solid var(--toolbarbutton-border-color-hot);
			box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.05);

			&::before {
				opacity: 0.15;
			}

			&::after {
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
			}

			.toolbarbutton-badge-stack,
			.toolbarbutton-icon,
			image:first-of-type {
				background-color: transparent !important;
				filter: saturate(1.5);
			}
		}

		&:active,
		&[open] {
			border: 1px solid var(--toolbarbutton-border-color-active);
			box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05),
				inset 0 0 6px 1px rgba(0, 0, 0, 0.1) !important;
			transition: none !important;

			&::before {
				opacity: 0;
				transition: none;
			}

			.toolbarbutton-badge-stack,
			.toolbarbutton-icon image:first-of-type {
				filter: unset;
				background: unset !important;
			}
		}
	}
	&[disabled] {
		.toolbarbutton-icon,
		image:first-of-type {
			opacity: 1 !important;

			fill: color-mix(in srgb, var(--toolbarbutton-icon-fill) 20%, transparent) !important;
		}
	}

	.toolbarbutton-badge-stack,
	.toolbarbutton-icon,
	image:first-of-type {
		border-radius: 0 !important;
		padding: 0 !important;
		fill: var(--toolbarbutton-icon-fill) !important;
		transition: 100ms filter linear;
	}

	.toolbarbutton-icon {
		width: auto !important;
		height: auto !important;
		max-height: 19px !important;
	}

	.toolbarbutton-badge-stack {
		border-radius: 0 !important;
		height: inherit;
		width: inherit;
		align-items: center;
		justify-content: center;
	}

	.toolbarbutton-badge {
		margin: 0 !important;
		margin-block-end: 1px !important;
		align-self: end !important;
		justify-self: center !important;
		z-index: 1;
	}

	/* bruni: Navigation buttons needs some rethinking. */
	&#back-button {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		border-right: 1px solid transparent;

		&::before,
		&::after {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}

	&#forward-button {
		margin-inline-start: -4px !important;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-left: 1px solid transparent;

		&::before,
		&::after {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
	}

	&#star-button-box {
		margin: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;

		&::before,
		&::after {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}

	&#PlacesChevron {
		width: var(--placed-chevron-width) !important;

		.toolbarbutton-icon {
			width: 12px !important;
			height: 8px !important;
		}
	}
}

:root[geckium-choice="five"] {
	.toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button
	) {
		&#go-button-box {
			margin: 0 !important;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			margin-left: auto !important;

			&::before,
			&::after {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
		}
	}
}

.toolbaritem-combined-buttons {
	margin-inline: 0 !important;

	> separator {
		display: none !important;
	}
}

#fxa-toolbar-menu-button {
	border: 0 !important;
	background: transparent !important;
	padding: 0 !important;
	margin-inline-start: 6px !important;
    margin-inline-end: 2px !important;
	height: var(--tab-height);

	.toolbarbutton-badge-stack {
		background: transparent !important;
		margin-block-end: 11px;
	}

	.toolbarbutton-badge-stack > vbox,
	.toolbarbutton-badge-stack > vbox > #fxa-avatar-image {
		width: 38px !important;
		height: 38px !important;
		border-radius: 0 !important;
	}
}

#back-button {
	list-style-image: url(assets/img/toolbar/back.svg) !important;

	&::after {
		border-right: 1px solid var(--navigation-buttons-separator);
		z-index: 1;
	}
}

#forward-button {
	list-style-image: url(assets/img/toolbar/forward.svg) !important;
}

#reload-button {
	list-style-image: url(assets/img/toolbar/reload.svg) !important;
}

#stop-button {
	list-style-image: url(assets/img/toolbar/stop.svg) !important;
}

#home-button {
	list-style-image: url(assets/img/toolbar/home.svg) !important;
}

#go-button-box {
	list-style-image: url(assets/img/toolbar/go.svg);
}

#star-button-box > #star-button {
	width: fit-content !important;
	height: fit-content !important;
	list-style-image: url(assets/img/toolbar/star.svg) !important;

	&[starred] {
		list-style-image: url(assets/img/toolbar/starred.svg) !important;
	}
}

#star-button-box > #star-button,
#go-button {
	transform: translateX(1px);
}

.identity-box-button {
	padding: 0 !important;
	min-height: 19px !important;
	min-width: 19px !important;
}

#identity-permission-box {
	display: none !important;
}

.identity-box-button,
#tracking-protection-icon-container {
	&:hover:not([open="true"]),
	&:hover:active,
	&[open="true"] {
		background: transparent !important;
	}
}

#gflags-button {
	list-style-image: url("chrome://userchrome/content/windows/gflags/imgs/logo.svg");
}

#page-button {
	list-style-image: url(assets/img/chrome-5/toolbar/menu_page.svg) !important;
}

#PanelUI-menu-button,
#chrome-button {
	list-style-image: url(assets/img/chrome-5/toolbar/menu_chrome.svg) !important;
	background-position: center;
}

#tabs-newtab-button,
#TabsToolbar #new-tab-button {
	list-style-image: none !important;
	background-position: 50%;
	background-size: var(--newtab-width) var(--newtab-height) !important;
}

#tabs-newtab-button,
#TabsToolbar #new-tab-button {
	position: relative;
	background: url(assets/img/chrome-5/tabbar/newtab.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 7px !important;
	margin-left: 3px !important;
	height: var(--newtab-height);
	width: var(--newtab-width);
	transition: background-color 100ms linear;

	&:hover {
		&::before {
			background-color: var(--newtab-hot);
		}
	}

	&:active {
		background: url(assets/img/chrome-5/tabbar/newtab_p.png);

		&::before {
			background-color: transparent;
			transition: none !important;
		}
	}

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		mask-image: url(assets/img/chrome-5/tabbar/newtab_button_mask.png);
		mask-size: var(--newtab-width) var(--newtab-height);
		background-color: var(--newtab-normal);
		transition: background-color 100ms linear;
	}
}

#tabs-newtab-button .toolbarbutton-icon {
	box-shadow: none !important;
	background: transparent !important;
}

#unified-extensions-button {
	list-style-image: url(assets/img/chrome-5/toolbar/menu_plugin.svg) !important;
}

.toolbarbutton-animatable-box {
	display: none !important;
}

#PersonalToolbar,
.notificationbox-stack {
	position: relative;

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 3px;
	}

	&::before {
		left: -2px;
		background: url(assets/img/chrome-5/toolbar/content_bookmark_left.png);
	}

	&::after {
		left: calc(100% - 1px);
		background: url(assets/img/chrome-5/toolbar/content_bookmark_right.png);
	}
}

#PersonalToolbar {
	overflow: visible !important;
	height: var(--personal-toolbar-height) !important;
	padding: 3px !important;
	background: var(--personal-toolbar) !important;

	&::before,
	&::after {
		top: 1px;
		height: 23px;
	}

	.bookmark-item:not(.menuitem-iconic) {
		border: 1px solid transparent;
		box-shadow: var(--personal-toolbar-item-shadow);
		transition: all 150ms linear;
		margin: 0 !important;
		border-radius: var(--toolbarbutton-radius) !important;
		color: var(--bookmark-item-color) !important;
		text-shadow: 0 1px 0 var(--bookmark-item-color-shadow);
		flex-shrink: 0;
		max-width: 148px !important;
	
		&:hover {
			border: 1px solid rgba(0, 0, 0, 0.14);
			background: var(--personal-toolbar-item-hover-bg) !important;
		}
	}
}

#PlacesToolbarItems {
	gap: 2px;
}

#toolbar-menubar #menubar-items {
	border-radius: 4px !important;
}
#main-menubar > menu {
	appearance: menuitem !important;
	text-shadow: 0 1px 4px rgba(255, 255, 255, 0.8);
}

#permissions-granted-icon {
	list-style-image: url(assets/img/chrome-5/toolbar/wrench.png) !important;
	margin-left: 2px;
}
.blocked-permission-icon {
	display: none !important;
}