panel toolbarseparator {
	display: none !important;
}

panelview {
	background-color: var(--modal-background) !important;
}

panelmultiview {
	toolbarbutton {
		margin: 0 !important;
	}
}

.panel-header {
	align-items: unset !important;
	height: 31px !important;
	color: rgb(6,45,117) !important;
	padding: 0 !important;
	min-height: 0 !important;
	margin-block-end: 11px !important;

	> h1 {
		font-size: 11pt !important;
		font-weight: normal !important;
		text-align: start !important;
	}
}

.panel-footer {
	gap: 10px !important;
	margin: 0 !important;
	margin-block-start: 4px !important;
	margin-inline-end: 0 !important;
}

.panel-subview-footer-button {
	margin: 0 !important;
}