& {
	--titlebar-buttonbox-gap: 0px;

	--titlebar-button-outer-border: 1px solid var(--titlebar-button-outer-border-color);
	--titlebar-button-outer-border-color: rgb(0, 0, 0, 0.35);
	--titlebar-button-inner-shadow-normal: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3);
	--titlebar-button-height: 17px;
	--titlebar-button-background-hot: rgba(255, 255, 255, 0.3);
	--titlebar-button-background-active: rgba(255, 255, 255, 0.2);

	--titlebar-close-width: 43px;
	--titlebar-close-background-hot: rgb(217, 76, 74);
	--titlebar-close-background-active: rgb(213, 58, 63);
	--titlebar-close-glyph: url(assets/img/titlebar/close.svg);

	--titlebar-max-restore-width: 25px;
	--titlebar-max-restore-background-hot: var(--titlebar-button-background-hot);
	--titlebar-max-restore-background-active: var(--titlebar-button-background-active);
	--titlebar-max-glyph: url(assets/img/titlebar/maximize.svg);
	--titlebar-restore-glyph: url(assets/img/titlebar/restore.svg);

	--titlebar-min-width: var(--titlebar-max-restore-width);
	--titlebar-min-background-hot: var(--titlebar-button-background-hot);		// unused.
	--titlebar-min-background-active: var(--titlebar-button-background-active);	// unused.
	--titlebar-min-glyph: url(assets/img/titlebar/minimize.svg);
}

&[sizemode="maximized"] {
	.titlebar-buttonbox-container {
		margin-block-start: 0 !important;
		margin-inline-end: 3px !important;
	}
}

.titlebar-buttonbox-container {
	margin: 0 !important;
	margin-block-start: -1px !important;
	margin-inline-end: 2px !important;

	@media (-moz-platform: linux) {
		margin-block-start: -2px !important;
		margin-inline-end: 1px !important;
	}
}

.titlebar-buttonbox {
	margin-right: 1px !important;
	box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.titlebar-close {
	border-left: var(--titlebar-button-outer-border);
	border-bottom: var(--titlebar-button-outer-border);
	border-right: var(--titlebar-button-outer-border);
	border-bottom-right-radius: 5px !important;
}

.titlebar-max,
.titlebar-restore,
.titlebar-min {
	&:active {
		box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
	}
}

.titlebar-max,
.titlebar-restore {
	border-left: var(--titlebar-button-outer-border);
	border-bottom: var(--titlebar-button-outer-border);
}

.titlebar-restore {
	.toolbarbutton-icon {
		transform: translateX(-1px);
	}
}

.titlebar-min {
	border-left: var(--titlebar-button-outer-border);
	border-bottom: var(--titlebar-button-outer-border);
	border-bottom-left-radius: 5px !important;
}