& {
    --toolbarbutton-border-color-hot: rgb(192, 192, 192);
    --toolbarbutton-border-color-active: rgb(125, 125, 125);
    --toolbarbutton-shadow-hot: 0 1px 0 0 rgba(0, 0, 0, 0.3),
        inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    --toolbarbutton-shadow-active: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
    --personal-toolbar-item-shadow: 0 1px 0 0 transparent !important;
    --personal-toolbar-item-hover-shadow: 0 1px 0 0 rgba(66, 66, 66, 20%) !important;
    --bookmark-item-color: #000000;
    --bookmark-item-hover-color: #062d75;
    --personal-toolbar-item-hover-bg: rgb(237, 237, 237) !important;
    --toolbarbutton-radius: 3px;

    &:not(:-moz-lwtheme) {
        --toolbarbutton-icon-fill: rgb(111, 111, 111) !important;
    }

    #tabs-newtab-button,
    #TabsToolbar #new-tab-button {
        background: url(assets/img/chrome-21/tabbar/newtab_views.png);

        &:active {
            background: url(assets/img/chrome-21/tabbar/newtab_p_views.png);

            &::before {
                background-color: var(--newtab-active);
            }
        }

        &::before {
            mask-image: url(assets/img/chrome-21/tabbar/newtab_button_mask_views.png);
        }
    }

    .toolbarbutton-1:not(#fxa-toolbar-menu-button, #tabs-newtab-button, #new-tab-button) {
        box-shadow: 0 1px 0 0 transparent !important;

        &:not([disabled]) {
            &:active,
            &[open] {
                background-color: rgba(0, 0, 0, 0.18) !important;
            }

            &:hover {
                box-shadow: 0 1px 0 0 rgb(0, 0, 0, 24%) !important;
                border-top-color: rgb(221, 221, 221) !important;
            }
        }

        &#unified-extensions-button,
        &#PanelUI-menu-button {
            &:not([disabled]) {
                &:hover {
                    background-color: transparent !important;
                    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
                }

                &:active,
                &[open] {
                    background-color: rgba(0, 0, 0, 0.18) !important;
                    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
                }
            }
        }
    }

    #star-button-box > #star-button {
        list-style-image: url(assets/img/chrome-21/toolbar/star.png) !important;

        &[starred] {
            list-style-image: url(assets/img/chrome-21/toolbar/star_lit.png) !important;
        }
    }
}

#PersonalToolbar {
    padding: 1px !important;
}

.bookmark-item {
    position: relative;
    overflow: hidden;
    border-radius: var(--toolbarbutton-radius) !important;
    box-shadow: var(--personal-toolbar-item-shadow);
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: none !important;

    &:hover {
        box-shadow: var(--personal-toolbar-item-hover-shadow) !important;
        border: 1px solid #b0b0b0;
        border-top-color: #cdcdcc;
        color: var(--bookmark-item-hover-color) !important;
        transition: all 150ms linear !important;

        &::before {
            opacity: 1;
            transition: all 150ms linear;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        background: rgb(255, 255, 255, 80%);
        opacity: 0;
    }
}
