/* GTK plus theme ID */
$gtkplus: "{9fe1471f-0c20-4756-bb5d-6e857a74cf9e}";

:root {
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: white;

		@media (prefers-color-scheme: dark) {
			background-color: rgb(32, 32, 32);
		}
	}
	
	#main-container {
		flex: 1;
	}

	.favicon,
	.mv-favicon {
		width: 16px;
		height: 16px;
	}

	&:not([geckium-five]) {
		* {
			visibility: hidden;
		}
	}

	&[geckium-five] {
		@import "partials/chrome-5/final";
	}

	&[geckium-five][geckium-six][geckium-eleven] {
		@import "partials/chrome-11/final";
	}

	&[geckium-five][geckium-six][geckium-eleven][geckium-twentyone] {
		@import "partials/chrome-21/final";
	}

	&[geckium-five][geckium-six][geckium-eleven][geckium-twentyone][geckium-twentyfive][geckium-fortyseven] {
		@import "partials/chrome-47/final";
	}
}