menupopup {
	@media (-moz-platform: linux) {
		--panel-background: Field !important;
		--panel-color: FieldText !important;
		--panel-border-color: ThreeDShadow !important;
		--panel-border-radius: 0 !important;
		--panel-padding-block: 0 !important;
	}

	button {
		min-width: 0 !important;
	}

	> menu,
	> menuitem {
		.menu-text {
			margin-inline-end: 48px !important;
		}
	}

	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}

	#context-sep-navigation {
		margin: 0 !important;
	}
}

#menu_find11,
#menu_savePage11,
#menu_print11,
#tools11-menu,
#menu_settings11,
#bookmarks-menu {
	display: none;
}

#context-navigation {
	background: transparent !important;
	flex-wrap: wrap;

	.menuitem-iconic {
		display: block;
		width: 100%;
		flex: unset !important;
		list-style-image: none !important;
		height: 20px !important;

		&::before {
			content: attr(aria-label);
			transform: translateX(34px);
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
}
