menupopup {
	@media (-moz-platform: linux) {
		--panel-background: Field !important;
		--panel-color: FieldText !important;
		--panel-border-color: ThreeDShadow !important;
		--panel-border-radius: 0 !important;
		--panel-padding-block: 0 !important;
	}

	&#contentAreaContextMenu {
		#context-navigation {
			background-color: transparent !important;
			flex-direction: column !important;
	
			> menuitem {
				justify-content: unset !important;
	
				@media (-moz-windows-classic) {
					min-height: 19px !important;
					height: 19px !important;
					min-height: 19px !important;
				}
				
				&::after {
					content: attr(aria-label);
					margin-inline-start: 2px !important;
					appearance: menuitemtext !important;
					white-space: nowrap;
	
					@media (-moz-windows-classic) {
						padding-inline-start: 1.45em !important;
					}
				}
	
				.menu-iconic-left {
					display: none !important;
				}
			}
		}
		
		#context-sep-navigation {
			margin-left: 0 !important;
		}
	}

	button {
		min-width: 0 !important;
	}

	> menu,
	> menuitem {
		.menu-text {
			margin-inline-end: 48px !important;
		}
	}

	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}
}

#menu_find11,
#menu_savePage11,
#menu_print11,
#tools11-menu,
#menu_settings11,
#bookmarks-menu {
	display: none;
}
