:root {
	--chrt-theme-frame-overlay: 0;

	--default-titlebar-active: linear-gradient(
		to bottom,
		rgb(97, 162, 241),
		rgb(72, 140, 222) 40px
	);
	--titlebar-active: var(--default-titlebar-active);
	--default-titlebar-inactive: linear-gradient(
		to bottom,
		rgb(163, 201, 247),
		rgb(147, 186, 234) 40px
	);
	--titlebar-inactive: var(--default-titlebar-inactive);
	
	@media (-moz-platform: linux) {
		--titlebar-active: linear-gradient(
			to bottom,
			color-mix(
				in srgb,
				ActiveCaption 90%,
				white
			),
			ActiveCaption 40px
		) !important;

		--titlebar-inactive: linear-gradient(
			to bottom,
			color-mix(
				in srgb,
				InactiveCaption 90%,
				white
			),
			InactiveCaption 40px
		) !important;
	}

    &[privatebrowsingmode="temporary"] {
        --titlebar-active: linear-gradient(
            to bottom,
            rgb(97, 122, 156),
            rgb(80, 105, 141) 40px
        ) !important;
        --titlebar-inactive: linear-gradient(
            to bottom,
            rgb(147, 161, 178),
            rgb(128, 143, 161) 40px
        ) !important;

        #fxa-toolbar-menu-button {
            display: none !important;
        }
    }

    @import "titlebar/classic";
	
	&:not([chrtheme="true"]):not(:-moz-lwtheme) {
		/* bruni: I forgot why this is here but it seems to cause issues.
		&[windowtype="navigator:browser"] > body {
			background: transparent !important;
		}*/

		&[windowtype="navigator:browser"] > body {
			@media (-moz-platform: linux) {
				background: var(--titlebar-active) !important;

				&:-moz-window-inactive {
					background: var(--titlebar-inactive) !important;
				}
			}
		}
	}
    &:-moz-lwtheme {
        /* bruni: This entire code takes care of custom themes support for titlebar */

		#navigator-toolbox {
			padding-top: 0 !important;
		}

        &:not([lwtheme-id*="firefox-compact"]) {
			&:not([lwtheme-id="#{$gtkplus}"]) {
				--titlebar-buttonbox-pseudo-background: var(--toolbar-bgcolor, var(--lwt-accent-color));


				&:not([privatebrowsingmode="temporary"]),
				&[privatebrowsingmode="temporary"] {
					--titlebar-active: var(--lwt-accent-color) !important;
					--titlebar-inactive: var(--titlebar-active) !important;
				}

				// Themes with image header/additional images
				&[windowtype="navigator:browser"] > body {
					&::before {
						content: "";
						position: absolute;
						top: 1px;
						left: 1px;
						height: calc(32px + var(--tab-height) + var(--nav-bar-height) + var(--personal-toolbar-height));
						width: calc(100% - 2px);
						border-radius: 5px 5px 0 0;

						box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
						background-color: var(--lwt-accent-color);
						background-image: var(--lwt-additional-images);
						background-repeat: var(--lwt-background-tiling);
						background-position: var(--lwt-background-alignment);
						background-position-y: -9px;
					}
				}

				&[style*="--lwt-background-alignment: right center"] {
					&[windowtype="navigator:browser"] > body {
						&::before {
							background-position-y: calc(50% - 9px);
						}
					}
				}

				&[sizemode="maximized"],
				&[sizemode="fullscreen"] {
					&[windowtype="navigator:browser"] > body {
						&::before {
							box-shadow: none;
							width: 100%;
							top: -9px;
							left: 0px;
						}
					}
				}

				&[lwtheme-image] {
					&[windowtype="navigator:browser"] > body {
						position: relative;

						&::before {
							background-image: var(--lwt-header-image, linear-gradient(transparent, transparent)), var(--lwt-additional-images) !important;
							background-repeat: no-repeat, var(--lwt-background-tiling);
							background-position: right top, var(--lwt-background-alignment);
							background-position-y: -9px;
							box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
						}
					}
				}

				// Themes without image header/additional images
				&:not([style*="--lwt-additional-images"]) {
					&:not([style*="--lwt-header-image"]) {
						--titlebar-buttonbox-pseudo-background: transparent;

						&:not([privatebrowsingmode="temporary"]),
						&[privatebrowsingmode="temporary"] {
							--titlebar-active: linear-gradient(
								to bottom,
								color-mix(
									in srgb,
									var(--lwt-accent-color) 90%,
									white
								),
								var(--lwt-accent-color) 40px
							) !important;
							--titlebar-inactive: linear-gradient(
								to bottom,
								color-mix(
									in srgb,
									var(--lwt-accent-color) 70%,
									white
								),
								color-mix(
									in srgb,
									var(--lwt-accent-color) 80%,
									white
								)
							) !important;
						}

						&[windowtype="navigator:browser"] > body {
							&::before {
								content: unset;
							}
						}
					}
				}
	
				&[customthememode="1"] {
					&[windowtype="navigator:browser"] > body,
					#navigator-toolbox {
						background: transparent !important;
					}

					&[windowtype="navigator:browser"] > body {
						&::before {
							content: unset;
						}
					}
				}

				#navigator-toolbox {
					box-shadow: none !important;
				}
			}
        }
		
		@media not (-moz-ev-native-controls-patch) {
			background: white !important;
		}
    }
	&:not(:-moz-lwtheme)[chrtheme="true"] {
		--titlebar-active: var(--chrt-frame, var(--default-titlebar-active)) !important;
		--titlebar-inactive: color-mix(
			in srgb,
			var(--chrt-frame, var(--default-titlebar-inactive)) 40%,
			white
		) !important;

		--titlebar-buttonbox-pseudo-background: var(--chrt-control-background, var(--chrt-button-background, transparent)) !important;

		&[windowtype="navigator:browser"] > body {
			&::before {
				content: "";
				top: 1px;
				left: 1px;
				position: absolute;
				width: calc(100% - 2px);
				height: 100%;
				border-radius: 5px 5px 0 0;
				background: var(--chrt-theme-frame-overlay) no-repeat, var(--chrt-theme-frame) repeat no-repeat;
				
			}

			&:-moz-window-inactive {
				&::before {
					opacity: .5;
				}
			}
		}

		&[chromemargin="0,0,0,0"] {
			&[windowtype="navigator:browser"] > body {
				&::before {
					box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
				}
			}

			&[sizemode="maximized"],
			&[sizemode="fullscreen"] {
				&[windowtype="navigator:browser"] > body {
					&::before {
						box-shadow: none;
						width: 100%;
						top: 0px;
						left: 0px;
					}
				}
			}
		}
	}
}

#private-browsing-indicator-with-label {
    align-items: end !important;
    margin-inline: 0 !important;
    margin-inline-start: 5px !important;
    margin-inline-end: -4px !important;
}

.private-browsing-indicator-icon {
    list-style-image: url("chrome://userchrome/content/assets/img/titlebar/otr_icon.png") !important;
    width: auto !important;
    height: auto !important;
}

[data-l10n-id="private-browsing-indicator-label"] {
    display: none !important;
}

@media (-moz-platform: windows) {
	.titlebar-buttonbox-container {
		&::before {
			content: url("chrome://userchrome/content/assets/img/chrome-1/titlebar/google.png");
			margin-block-start: 3px;
			margin-inline-end: 6px;
		}
	}

	:root {
		&[sizemode="maximized"],
		&[sizemode="fullscreen"] {
			.titlebar-buttonbox-container {
				&::before {
					content: unset !important;
				}
			}
		}
	}
}