#window {
	width: 1160px;
	height: 710px;
}

.content {
	&:not([data-page-container]) {
		padding: var(--inner-padding);
	}
}

.tab-page {
	padding: var(--inner-padding);
}

#navigation-drawer.banner .window-top-bars {
	background: url("chrome://userchrome/content/frameworks/GeckiumMaterial/zoo/banner.webp");
}