& {
	--nav-bar: rgb(242,242,242);
	--nav-bar-height: 37px;

	--toolbarbutton-width: 24px;
	--toolbarbutton-height: 24px;
	--toolbarbutton-radius: 2px;
	--toolbarbutton-background-hot: rgba(0,0,0,.09);
	--default-toolbarbutton-icon-fill: #5a5a5a !important;
	--toolbarbutton-outer-padding: 2px !important;
	--toolbarbutton-icon-drop-shadow: drop-shadow();

	--personal-toolbar: var(--nav-bar);
	--personal-toolbar-height: 28px;
}

#tabs-newtab-button,
#TabsToolbar #new-tab-button {
	margin-top: 10px !important;
	margin-left: 4px !important;
}

.toolbarbutton-1:not(#fxa-toolbar-menu-button, #tabs-newtab-button, #new-tab-button) {
	border: 0 !important;
	box-shadow: none !important;

	&::before {
		transform: scale(0);
		left: 50% !important;
		top: 50% !important;
		transform: translateX(-50%) translateY(-50%) !important;
		width: 0;
		height: 0;
		border-radius: 50% !important;
		background: var(--toolbarbutton-background-hot) !important;
		transition: width 150ms, height 150ms, opacity 150ms !important;
	}

	&::after {
		content: unset;
	}

	&:not([disabled]) {
		&:hover {
			background: var(--toolbarbutton-background-hot) !important;
			
			&::before {
				opacity: 0;
			}
		}

		&:active {
			background: transparent !important;

			&::before {			
				width: calc(var(--nav-bar-height) - 6px);
				height: calc(var(--nav-bar-height) - 6px);
				opacity: 1;
			}
		}
	}

	&#back-button,
	&#forward-button {
		&:not([disabled]) {
			&:active,
			&[open] {
				border: 0 !important;
			}
		}
	}

	&#back-button {
		&::before {
			border-top-right-radius: 50% !important;
			border-bottom-right-radius: 50% !important;
		}
	}

	&#forward-button {
		&::before {
			border-top-left-radius: 50% !important;
			border-bottom-left-radius: 50% !important;
		}
	}
}

&#back-button,
&#forward-button {
	.toolbarbutton-icon {
		width: 14px !important;
		height: 14px !important;
	}
}

#PlacesToolbarItems {
	gap: 0;
}

#back-button {
	list-style-image: url(assets/img/chrome-50/toolbar/back.svg) !important;
}

#forward-button {
	list-style-image: url(assets/img/chrome-50/toolbar/forward.svg) !important;
}

#reload-button {
	list-style-image: url(assets/img/chrome-50/toolbar/reload.svg) !important;
}

#stop-button {
	list-style-image: url(assets/img/chrome-50/toolbar/stop.svg) !important;
}

#home-button {
	list-style-image: url(assets/img/chrome-50/toolbar/home.svg) !important;
}

#PanelUI-menu-button,
#chrome-button {
	list-style-image: url(assets/img/chrome-50/toolbar/menu_chrome.svg) !important;
}

&[personalbar="newtab"] {
	--personal-toolbar: white !important;		
}

// FIXME: Temporarily duplicating this until I find a better way to do it.
&[lwtheme-id="#{$gtkplus}"] {
	@media (-moz-platform: linux) {
		.toolbarbutton-1:not(
			#fxa-toolbar-menu-button,
			#tabs-newtab-button,
			#new-tab-button
		) {
			
			&#back-button,
			&#forward-button,
			&#reload-button,
			&#stop-button,
			&#home-button {
				&[disabled] {
					opacity: .3 !important;
				}

				.toolbarbutton-icon {
					max-width: 24px !important;
					max-height: 24px !important;
				}
			}

			&#back-button {
				list-style-image: url(moz-icon://stock/go-previous?size=toolbar) !important;
			}
			
			&#forward-button {
				list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
			}
			
			&#reload-button {
				list-style-image: url(moz-icon://stock/view-refresh?size=toolbar) !important;
			}
			
			&#stop-button {
				list-style-image: url(moz-icon://stock/process-stop?size=toolbar) !important;
			}
			
			&#home-button {
				list-style-image: url(moz-icon://stock/go-home?size=toolbar) !important;
			}
		}

		&[moregtkicons="true"] {
			.toolbarbutton-1:not(
				#fxa-toolbar-menu-button,
				#tabs-newtab-button,
				#new-tab-button
			) {
				&#PanelUI-menu-button,
				&#chrome-button,
				&#page-button,
				&#star-button-box,
				&#go-button-box {
					&[disabled] {
						opacity: .3 !important;
					}

					.toolbarbutton-icon,
					image:first-child {
						max-width: 24px !important;
						max-height: 24px !important;
					}
				}

				&#PanelUI-menu-button,
				&#chrome-button {
					list-style-image: url(moz-icon://stock/gtk-preferences?size=toolbar) !important;
				}

				&#page-button {
					list-style-image: url(moz-icon://stock/document-properties?size=toolbar) !important;
				}

				&#go-button-box{
					list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
				}
			}

			#star-button-box {
				#star-button {
					&:not([starred="true"]) {
						list-style-image: url(moz-icon://stock/bookmark-missing?size=toolbar) !important;
					}
					&[starred="true"] {
						list-style-image: url(moz-icon://stock/stock_bookmark?size=toolbar) !important;
					}
				}
			}
		}
	}
}