& {
	--urlbar-height-definitive: calc(var(--toolbarbutton-height) + 4px);
	--urlbarView-row-height: 25px;

	&[geckium-crflag-omnibox-ui-vertical-layout="true"] {
		&:not([geckium-crflag-omnibox-ui-swap-title-and-url="1"]) {
			--urlbarView-row-height: 48px;

			.urlbarView-row-inner {
				display: flex !important;
				flex-direction: column-reverse;
				align-items: start !important;
				justify-content: center !important;
			}

			.urlbarView-title {
				&::before {
					content: unset;
				}

				margin-inline-start: 22px;
			}

			.urlbarView-url {
				order: 2;
				padding: 0 !important;
				margin-inline-start: 22px;
			}
		}
	}

	&[geckium-crflag-omnibox-ui-vertical-margin="3"] {
		.urlbarView-row-inner {
			min-height: calc(var(--urlbarView-row-height) + 2px) !important;
			height: calc(var(--urlbarView-row-height) + 2px) !important;
		}
	}
	&[geckium-crflag-omnibox-ui-vertical-margin="4"] {
		.urlbarView-row-inner {
			min-height: calc(var(--urlbarView-row-height) + 6px) !important;
			height: calc(var(--urlbarView-row-height) + 6px) !important;
		}
	}
	&[geckium-crflag-omnibox-ui-vertical-margin="5"] {
		.urlbarView-row-inner {
			min-height: calc(var(--urlbarView-row-height) + 10px) !important;
			height: calc(var(--urlbarView-row-height) + 10px) !important;
		}
	}
	&[geckium-crflag-omnibox-ui-vertical-margin="6"] {
		.urlbarView-row-inner {
			min-height: calc(var(--urlbarView-row-height) + 14px) !important;
			height: calc(var(--urlbarView-row-height) + 14px) !important;
		}
	}
	&[geckium-crflag-omnibox-ui-vertical-margin="7"] {
		.urlbarView-row-inner {
			min-height: calc(var(--urlbarView-row-height) + 18px) !important;
			height: calc(var(--urlbarView-row-height) + 18px) !important;
		}
	}
	&[geckium-crflag-omnibox-ui-swap-title-and-url="1"] {
		.urlbarView-row-inner {
			flex-direction: row-reverse;
		}

		.urlbarView-title {
			margin-inline-start: 22px;

			&::before {
				content: unset;
			}
		}

		.urlbarView-url {
			padding: 0 !important;

			&::before {
				content: "-";
				padding: 0 4px;
			}
		}
	}
}

#urlbar {
	font-size: 10pt !important;
}

#urlbar-background,
#searchbar {
	border-radius: calc(var(--toolbarbutton-radius) + 1px) !important;
}

.urlbarView {
	padding-block: 4px !important;
}

.urlbarView-row {
	border-radius: 3px !important;
}

.urlbarView-url {
	color: rgb(41,93,204) !important;
}

.urlbarView-title {
	color: black;
}