@-moz-document url-prefix(about:preferences) {
    :root {
        --main-pane-width: 888px !important;
    }

    .navigation {
        spacer {
            display: none !important;
        }

        #categories {
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            width: 155px !important;

            &::before {
                content: "Chrome";
                font-size: 20px;
                padding: 24px;
                color: rgb(92, 97, 102);
            }

            .category {
                margin-inline-start: 0 !important;
                min-height: 30px !important;
                padding-inline: 0 !important;
                transition: none !important;
                border-radius: 0 !important;
                border: none !important;

                &:hover,
                &:active {
                    background: transparent !important;
                }

                .category-icon {
                    display: none;
                }
                .category-name {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border-left: 6px solid transparent !important;
                    font-size: 12px !important;
                    color: rgb(153, 153, 153) !important;
                    padding-inline-start: 18px !important;
                    cursor: pointer !important;
                }
                &:is([selected="true"]) .category-name {
                    border-left-color: rgb(78, 87, 100) !important;
                    color: rgb(78, 87, 100) !important;
                }
            }
        }

        .sidebar-footer-list {
            margin: 0 !important;

            &::before {
                content: "";
                height: 1px;
                background: rgb(0, 0, 0, 10%);
                margin-block: 14px;
            }

            .sidebar-footer-link {
                display: flex;
                align-items: center;
                height: 30px !important;
                border-left: 6px solid transparent !important;
                font-size: 12px !important;
                color: rgb(153, 153, 153) !important;
                padding-inline-start: 18px !important;

                &:hover {
                    background: transparent !important;
                }
            }

            .sidebar-footer-label,
            .sidebar-footer-link {
                cursor: pointer !important;
                margin: 0 !important;
            }

            .sidebar-footer-icon {
                display: none !important;
            }

            &:is([selected="true"]) .sidebar-footer-link {
                border-left-color: rgb(78, 87, 100) !important;
                color: rgb(78, 87, 100) !important;
            }
        }
    }

	h1 {
		&[data-l10n-id="pane-general-title"],
		&[data-l10n-id="pane-home-title"],
		&[data-l10n-id="pane-search-title"],
		&[data-l10n-id="privacy-header"],
		&[data-l10n-id="pane-sync-title3"],
		&[data-l10n-id="more-from-moz-title"] {
			position: fixed;
			top: 22px;
			z-index: 100;
			color: rgb(48, 57, 66) !important;
			font-weight: 500 !important;
			font-size: 20px !important;
		}
	}
	.sticky-container {
		background: rgb(255, 255, 255, 90%) !important;
		border-bottom: 1px solid rgb(0, 0, 0, 10%);
	}
	search-textbox {
		margin-block-start: 28px !important;
		margin-block-end: 8px !important;
		min-height: 24px !important;
		border-color: rgb(191, 191, 191) !important;
		border-radius: 2px !important;
		max-width: 160px !important;
		font-size: 9pt !important;
		padding: 3px !important;
		padding-bottom: 4px !important;
		height: 24px !important;
	
		&[focused] {
			outline: none !important;
			border-color: rgb(77, 144, 254) !important;
		}
	
		&#filter {
			max-width: 100% !important;
			margin-top: 10px !important;
		}
	}
	
	.textbox-search-sign {
		display: none !important;
	}
	
	h1,
	h2,
	[data-l10n-id="update-application-allow-description"],
	[data-l10n-id="applications-handle-new-file-types-description"] {
		font-size: 16px !important;
		line-height: 24px !important;
		font-weight: 500 !important;
		margin-block: 4px !important;
	}
	[data-l10n-id="startup-header"],
	[data-l10n-id="search-bar-header"],
	[data-l10n-id="content-blocking-enhanced-tracking-protection"],
	#fxaGroup {
		margin-top: 10px !important;
	}
	
	[data-l10n-id="applications-handle-new-file-types-description"] {
		margin-top: 10px !important;
	}
	
	[data-l10n-id="applications-description"],
	#performanceGroup {
		margin-bottom: 26px !important;
	}
	
	[data-l10n-id="download-header"] {
		font-size: 9pt !important;
		margin-bottom: 0 !important;
	}
	
	#drmGroup {
		padding-inline: 0 !important;
	}
	
	[data-l10n-id="performance-use-recommended-settings-desc"] {
		display: none !important;
	}
	
	.updateSettingCrossUserWarningContainer {
		background: transparent !important;
		border: transparent !important;
		padding: 0 !important;
	}
	
	checkbox,
	radio {
		margin-block: 0 !important;
	
		&:not([disabled]):hover {
			.checkbox-check,
			.radio-check {
				background: linear-gradient(
					to top,
					#e0e0e0,
					#f5f4f4
				);
				box-shadow: 0 1px 1px rgb(0, 0, 0, 14%),
					inset 0 1px 2px rgb(255, 255, 255, 75%) !important;
				color: rgb(0, 0, 0) !important;
			}
	
			.checkbox-label,
			.radio-label {
				color: rgb(0, 0, 0) !important;
			}
		}
		&:not([disabled]):active {
			.checkbox-check,
			.radio-check {
				background: linear-gradient(
					to top,
					#e0e0e0,
					#eeeeee
				);
				box-shadow: 0 1px 1px transparent, inset 0 1px 2px transparent !important;
				color: rgb(0, 0, 0) !important;
			}
		}
		&[focused] .radio-check {
			outline: none !important;
		}
	}
	
	.checkbox-check,
	.radio-check,
	input[type="radio"] {
		background: linear-gradient(
			to top,
			#e0e0e0,
			#f0f0f0
		);
		border: 1px solid rgb(0, 0, 0, 30%) !important;
		box-shadow: 0 1px 1px rgb(0, 0, 0, 8%),
			inset 0 1px 2px rgb(255, 255, 255, 75%) !important;
	}
	.checkbox-check {
		height: 13px !important;
		width: 13px !important;
	}
	.radio-check,
	input[type="radio"] {
		height: 15px !important;
		width: 15px !important;
	}
	.checkbox-label,
	.radio-label {
		font-size: 9pt !important;
		color: rgb(48, 57, 66);
	}
	
	.checkbox-check[checked] {
		background-image: url(assets/img/pages/check.png),
			linear-gradient(
				to top,
				#e0e0e0,
				#f0f0f0
			) !important;
		background-color: transparent !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.radio-check[selected],
	input[type="radio"]:checked {
		background-image: url(assets/img/pages/radio.png),
			linear-gradient(
				to top,
				#e0e0e0,
				#f0f0f0
			) !important;
		background-color: transparent !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	#setDefaultPane {
		margin-top: -4px !important;
	
		#isDefaultPane,
		#isNotDefaultPane {
			margin-inline-start: 0 !important;
		}
	}
	
	.subcategory {
		margin-top: 0 !important;
	}
	
	#updateSettingCrossUserWarningDesc {
		margin-top: 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
	.info-icon {
		fill: transparent !important;
		background: url(assets/img/pages/orange_exclamation.png) !important;
		background-size: 15px 15px !important;
		height: 15px !important;
		width: 15px !important;
		margin: 0 !important;
	}
	
	.face-smile,
	.face-sad {
		display: flex;
		align-items: center;
		gap: 5px !important;
		font-size: 12px !important;
		margin-left: -1px !important;
	}
	
	.face-smile::before {
		background: url(assets/img/pages/green_check.png) !important;
		display: block;
		content: "" !important;
		background-size: 15px 15px !important;
		height: 15px !important;
		width: 15px !important;
		margin-inline-end: 0 !important;
	}
	.face-sad::before {
		background: url(assets/img/pages/orange_exclamation.png) !important;
		display: block;
		content: "" !important;
		background-size: 15px 15px !important;
		height: 15px !important;
		width: 15px !important;
		margin-inline-end: 0 !important;
	}
	
	description,
	label:not(.sidebar-footer-label),
	[data-l10n-id="preferences-web-appearance-footer"] {
		color: rgb(48, 57, 66) !important;
		font-size: 9pt !important;	
	}
	description {
		line-height: 20px !important;
	}
	
	[data-l10n-id="choose-browser-language-description"],
	[data-l10n-id="applications-description"] {
		margin-bottom: 8px !important;
	}
	
	#downloadFolder {
		height: 24px !important;
		border-radius: 2px !important;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		box-shadow: 0 1px 1px rgb(0, 0, 0, 8%),
			inset 0 1px 2px rgb(255, 255, 255, 75%);
		margin-block: 0 !important;
		margin-inline-end: 0 !important;
		padding-block: 0 !important;
		cursor: default !important;
		box-sizing: border-box;
	
		&:focus {
			outline: none !important;
			border-color: rgb(77, 144, 254) !important;
		}
	}
	#chooseFolder {
		margin-inline-start: 3px !important;
	}
	
	.accessory-button,
	menulist:not(.actionsMenu),
	.homepage-button,
	[data-l10n-id="update-checkForUpdatesButton"] {
		display: flex;
	}

	menulist,
	button {
		justify-content: center;
		align-items: center;
		min-height: 24px !important;
		padding-inline: 10px !important;
		padding-block: 1px !important;
		font-size: 12px !important;
		background: linear-gradient(
			to top,
			#e0e0e0,
			#f0f0f0
		);
		border: 1px solid rgb(0, 0, 0, 30%) !important;
		box-shadow: 0 1px 1px rgb(0, 0, 0, 8%),
			inset 0 1px 2px rgb(255, 255, 255, 75%);
		text-shadow: 0 1px 0 rgb(255, 255, 255, 70%) !important;
		border-radius: 2px !important;
		color: rgb(68, 68, 68) !important;
		font-weight: normal !important;

		&:not([disabled]):hover {
			background: linear-gradient(
				to top,
				#e0e0e0,
				#f5f4f4
			);
			box-shadow: 0 1px 1px rgb(0, 0, 0, 14%),
				inset 0 1px 2px rgb(255, 255, 255, 75%);
			color: rgb(0, 0, 0) !important;
		}

		&:not([disabled]):active {
			background: linear-gradient(
				to top,
				#e0e0e0,
				#eeeeee
			);
			box-shadow: 0 1px 1px transparent, inset 0 1px 2px transparent;
			color: rgb(0, 0, 0) !important;
		}
	}
	
	.accessory-button {
		min-width: 0 !important;
	}
	
	menulist:not(.actionsMenu) {
		padding-inline: 6px !important;
	}
	
	.homepage-button {
		margin-block-start: 18px !important;
	}
	
	listheader,
	richlistbox {
		border-radius: 2px !important;
	}
	listheader {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	richlistbox:not(#categories) {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	
		richlistitem[selected] {
			background: rgb(0, 0, 0, 6%) !important;
			color: rgb(255, 255, 255) !important;
		}
	
		.actionContainer {
			border: 1px solid transparent;
		}
	}
	#label-box:not([native]) {
		font-weight: 500 !important;
	}
	
	menupopup menuitem {
		&[selected] {
			color: red !important;
		}
	}
	
	.web-appearance-choice {
		border-radius: 2px !important;
	}
}