@-moz-document url-prefix(about:preferences) {
	[data-l10n-id="applications-description"],
	#performanceGroup {
		margin-bottom: 26px !important;
	}
	
	[data-l10n-id="download-header"] {
		font-size: 9pt !important;
		margin-bottom: 0 !important;
	}
	
	#drmGroup {
		padding-inline: 0 !important;
	}
	
	[data-l10n-id="performance-use-recommended-settings-desc"] {
		display: none !important;
	}
	
	.updateSettingCrossUserWarningContainer {
		background: transparent !important;
		border: transparent !important;
		padding: 0 !important;
	}
	
	#setDefaultPane {
		margin-top: -4px !important;
	
		#isDefaultPane,
		#isNotDefaultPane {
			margin-inline-start: 0 !important;
		}
	}
	
	.subcategory {
		margin-top: 0 !important;
	}
	
	#updateSettingCrossUserWarningDesc {
		margin-top: 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
	.info-icon {
		fill: transparent !important;
		background: url(assets/img/pages/orange_exclamation.png) !important;
		background-size: 15px 15px !important;
		height: 15px !important;
		width: 15px !important;
		margin: 0 !important;
	}
	
	.face-smile,
	.face-sad {
		display: flex;
		align-items: center;
		gap: 5px !important;
		font-size: 12px !important;
		margin-left: -1px !important;
	}
	
	.face-smile::before {
		background: url(assets/img/pages/green_check.png) !important;
		display: block;
		content: "" !important;
		background-size: 15px 15px !important;
		height: 15px !important;
		width: 15px !important;
		margin-inline-end: 0 !important;
	}
	.face-sad::before {
		background: url(assets/img/pages/orange_exclamation.png) !important;
		display: block;
		content: "" !important;
		background-size: 15px 15px !important;
		height: 15px !important;
		width: 15px !important;
		margin-inline-end: 0 !important;
	}
	
	description,
	label:not(.sidebar-footer-label, .dialogTitle),
	[data-l10n-id="preferences-web-appearance-footer"] {
		color: rgb(48, 57, 66) !important;
		font-size: 9pt !important;	
	}
	description {
		line-height: 20px !important;
	}
	
	[data-l10n-id="choose-browser-language-description"],
	[data-l10n-id="applications-description"] {
		margin-bottom: 8px !important;
	}
	
	#downloadFolder {
		height: 24px !important;
		border-radius: 2px !important;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		box-shadow: 0 1px 1px rgb(0, 0, 0, 8%),
			inset 0 1px 2px rgb(255, 255, 255, 75%);
		margin-block: 0 !important;
		margin-inline-end: 0 !important;
		padding-block: 0 !important;
		cursor: default !important;
		box-sizing: border-box;
	
		&:focus {
			outline: none !important;
			border-color: rgb(77, 144, 254) !important;
		}
	}
	#chooseFolder {
		margin-inline-start: 3px !important;
	}
	
	.accessory-button,
	menulist:not(.actionsMenu),
	.homepage-button,
	[data-l10n-id="update-checkForUpdatesButton"] {
		display: flex;
	}
	
	.accessory-button {
		min-width: 0 !important;
	}
	
	menulist:not(.actionsMenu) {
		padding-inline: 6px !important;
	}
	
	.homepage-button {
		margin-block-start: 18px !important;
	}
	
	listheader,
	richlistbox {
		border-radius: 2px !important;
	}
	listheader {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	richlistbox:not(#categories) {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	
		richlistitem[selected] {
			background: rgb(0, 0, 0, 6%) !important;
			color: rgb(255, 255, 255) !important;
		}
	
		.actionContainer {
			border: 1px solid transparent;
		}
	}
	#label-box:not([native]) {
		font-weight: 500 !important;
	}
	
	menupopup menuitem {
		&[selected] {
			color: red !important;
		}
	}
	
	.web-appearance-choice {
		border-radius: 2px !important;
	}
}