& {
	--page-switcher-color: color-mix(in srgb, var(--link-color) 50%, transparent);
}

#card-slider-frame {
	overflow: hidden;
	position: relative;
	flex: 1;
}

#page-list {
	max-width: var(--page-width);

	transition: transform 200ms ease-in-out;
}

.page-switcher {
	all: unset;
	
	display: flex;
	position: absolute;
	min-width: 90px;
	max-width: 150px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	color: var(--page-switcher-color);
	z-index: 1;
	
	transition: width 150ms, background-color 150ms;
	
	&:not([disabled]) {
		&:hover,
		&:focus {
			background-color: rgba(0,0,0,.06);

			@media (prefers-color-scheme: dark) {
				background-color: rgba(255,255,255,.06);
			}
		}
	}

	&[disabled] {
		display: none;
	}

	&[id*="start"] {
		left: 0;
		height: 100%;
	}

	&[id*="end"] {
		right: 0;
		height: 100%;

		&:not([disabled]) {
			&:hover,
			&:focus {
				background: linear-gradient(
					to bottom,
					transparent 0,
					rgba(0,0,0,.01) 60px,
					rgba(0,0,0,.06) 183px
				);

				@media (prefers-color-scheme: dark) {
					background: linear-gradient(
						to bottom,
						transparent 0,
						rgba(255,255,255,.01) 60px,
						rgba(255,255,255,.06) 183px
					);
				}
			}
		}
	}
}

.tile-page {
	min-width: var(--page-width);

	.tile-page-content {
		margin: auto;
	}
}