& {
	--footer-border: linear-gradient(
		to left,
		rgba(150,150,150, 0.2), /* COLOR_NTP_SECTION_BORDER */
		rgba(150,150,150, 0.3) 20%, /* COLOR_NTP_SECTION_BORDER */
		rgba(150,150,150, 0.3) 80%, /* COLOR_NTP_SECTION_BORDER */
		rgba(150,150,150, 0.2)
	);
	--footer-background: linear-gradient(
		to bottom,
		rgba(242, 242, 242, 0.9),
		rgba(222, 222, 222, 0.9)
	);
	--footer-color: #7f7f7f;

	--dot-color-normal: #999;
	--dot-color-hot: #7f7f7f;
	--selection-bar-background-color-normal: rgba(0, 0, 0, 0.1);
	--selection-bar-background-color-hot: #b2b2b2;
	--selection-bar-background-color-active: #7f7f7f;

	--footer-item-color-hot: #666;
	--footer-menu-button-glyph-background-color-normal: #7F7F7F;
	--footer-menu-item-link-color: #063874;
	--footer-vertical-separator-background-color: rgb(178, 178, 178);

	@media (prefers-color-scheme: dark) {
		--footer-background: linear-gradient(
			to bottom,
			rgba(53, 53, 53, 0.9),
			rgba(31, 31, 31, 0.9)
		);
		--footer-color: #b8b8b8;

		--dot-color-normal: rgba(255,255,255,.2);
		--dot-color-hot: #9e9e9e;
		--selection-bar-background-color-normal: rgba(255, 255, 255, 0.1);
		--selection-bar-background-color-hot: #535353;
		--selection-bar-background-color-active: #9e9e9e;

		--footer-menu-button-glyph-background-color-normal: #b8b8b8;
		--footer-menu-item-link-color: #acc0da;
		--footer-vertical-separator-background-color: rgb(100, 100, 100);
	}

	

	// Custom theme support
	&[lwtheme-id="firefox-alpenglow@mozilla.org"],
	&[lwtheme-id*="{"] {
		--footer-border: linear-gradient(
			to left,
			color-mix(in srgb, var(--lwt-accent-color) 20%, transparent), /* COLOR_NTP_SECTION_BORDER */
			color-mix(in srgb, var(--lwt-accent-color) 30%, transparent) 20%, /* COLOR_NTP_SECTION_BORDER */
			color-mix(in srgb, var(--lwt-accent-color) 30%, transparent) 80%, /* COLOR_NTP_SECTION_BORDER */
			color-mix(in srgb, var(--lwt-accent-color) 20%, transparent)
		);
		--footer-background: linear-gradient(
			to bottom,
			color-mix(in srgb, var(--lwt-accent-color) 90%, transparent),
			color-mix(in srgb, var(--lwt-accent-color) 90%, transparent)
		);
		--footer-color: var(--lwt-text-color);

		--dot-color-normal: color-mix(in srgb, var(--lwt-text-color) 20%, gray);
		--dot-color-hot: var(--lwt-text-color);
		--selection-bar-background-color-normal: color-mix(in srgb, var(--lwt-text-color) 20%, transparent);
		--selection-bar-background-color-hot: color-mix(in srgb, var(--lwt-text-color) 40%, transparent);
		--selection-bar-background-color-active: var(--lwt-text-color);

		--footer-item-color-hot: color-mix(in srgb, var(--lwt-text-color) 90%, black);
		--footer-menu-button-glyph-background-color-normal: var(--lwt-text-color);
		--footer-menu-item-link-color: var(--lwt-accent-color);
		--footer-vertical-separator-background-color: color-mix(in srgb, var(--lwt-text-color) 40%, transparent);
	}
}

#footer {
	max-width: var(--page-width);
	font-size: 8pt;

	img {
		align-self: center;
	}

	background-image: var(--footer-background);
	color: var(--footer-color);

	font-weight: bold;

	#footer-border {
		height: 1px;
		background: var(--footer-border);
	}

	#footer-content {
		height: 49px;
		padding-inline-end: 12px;
	}

	#dot-list {
		flex: 1;
		justify-content: center;
		gap: 12px;
	}

	#footer-menu-container {
		align-items: center;
	}

	.dot,
	.footer-menu-button,
	a {
		all: unset;

		display: flex;
		align-items: center;

		&:not([disabled]) {
			cursor: pointer;
		}
	}

	.dot {
		display: flex;
		flex-direction: column;
		padding-top: 10px;
		color: var(--dot-color-normal);
		width: 80px;
		text-align: start;
		align-items: start;

		transition: color 200ms;

		&:not([disbled]) {
			&:hover,
			&:focus,
			&.selected {
				color: var(--dot-color-hot);
			}

			&:hover,
			&:focus {
				.selection-bar {
					background-color: var(--selection-bar-background-color-hot);
				}
			}

			&.selected {
				.selection-bar {
					background-color: var(--selection-bar-background-color-active);
				}
			}
		}

		.selection-bar {
			width: 100%;
			height: 5px;
			background-color: var(--selection-bar-background-color-normal);
			margin-block-end: 5px;

			transition: background-color 200ms;
		}

		.button-box {
			margin-inline-start: 3px;
		}

		.button-text {
			align-self: start;
		}
	}

	.footer-menu-button,
	a {
		&:not([disabled]) {
			&:hover {
				color: var(--footer-item-color-hot);
			}
		}
	}

	.footer-menu-button {
		position: relative;
		padding-inline-start: 9px;
		padding-inline-end: 15px;

		&:not([disabled]) {
			&:hover {
				&::after {
					background-color: var(--footer-item-color-hot);
				}
			}
	
			&[open] {
				.footer-menu {
					display: flex;
				}
			}
		}

		

		&::after {
			content: "";
			margin-inline-start: 5px;
			height: 9px;
			width: 9px;
			background-color: var(--footer-menu-button-glyph-background-color-normal);

			mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJUlEQVQYV2NgoDuYSQSGK/RB0+yDrACbQqwKkBUW41OArJB0AAACXws0ERupuAAAAABJRU5ErkJggg==");
		}
	}

	.footer-menu {
		display: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .50);
		background: white;
		color: black;
		cursor: default;
		margin: 0;
		outline: 1px solid rgba(0, 0, 0, 0.2);
		position: absolute;
		white-space: nowrap;
		margin-inline-end: 10px;
		max-height: 400px;
		overflow: auto;
		padding: 6px 8px;
		z-index: 10;
		min-width: 150px;
		bottom: 32px;
		right: 0;

		@media (prefers-color-scheme: dark) {
			background: rgb(54, 54, 54);
			color: white;
		}
	}

	.footer-menu-item {
		margin-inline-end: 8px;
		margin-inline-start: 0;
		padding-inline-end: 0;
		background: no-repeat 0 50%;
		background-color: transparent !important;
		background-size: 16px 16px;
		box-sizing: border-box;
		display: flex;
		line-height: 1.5em;
		margin-bottom: 0.5em;
		margin-top: 0.25em;
		max-width: 450px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: var(--footer-menu-item-link-color) !important;
		font-weight: normal;
		font-size: 9pt;
		align-items: center;
		-moz-context-properties: fill, fill-opacity;

		@media (prefers-color-scheme: dark) {
			fill: white;
		}

		&:not([disabled]) {
			&:hover {
				text-decoration: underline;
			}
		}

		image {
			width: 16px;
			height: 16px;
			margin-inline-end: 6px;
		}

		label {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	#vertical-separator {
		background-color: var(--footer-vertical-separator-background-color);
		height: 20px;
		width: 1px;
	}

	#chrome-web-store-link {
		padding-inline-start: 15px;

		&::after {
			content: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-21/imgs/IDR_WEBSTORE_ICON_24.png");
			
			margin-block-start: 3px;
			margin-inline-start: 12px;
		}
	}
}