#login-container {
	all: unset;

	color: var(--thumbnail-container-color);
	cursor: pointer;
	position: fixed;
	right: 13px;
	top: 5px;
	z-index: 1;

	.login-status-row,
	#login-status-sub-header {
		display: flex;
		justify-content: end;
	}
}

.link-span {
	color: rgb(102,102,102);
	text-decoration: underline;

	@media (prefers-color-scheme: dark) {
		color: rgb(138, 138, 138);
	}
}