:root {
	&[contentmode="wizard"] {
		.disable-in-wizard {
			pointer-events: none;
			opacity: .5;

			&#appearance-container {
				max-height: 100px;
				mask-image: linear-gradient(to bottom, black, transparent);
			}
		}

		.show-in-wizard {
			display: flex;
		}

		.content:not([data-page-container]) {
			padding-block-end: 91px !important;
		}
	}

	&:not([contentmode="wizard"]) {
		.show-in-wizard {
			display: none;
		}
	}
}

#window {
	width: 1160px;
	height: 710px;
}

.content {
	&:not([data-page-container]) {
		padding: var(--inner-padding);
	}
}

h4 {
	.about-flag {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 28px;
		width: 28px;
		margin-inline-start: 4px;
		cursor: pointer;
		transition: all 150ms ease-in;
		border-radius: 9999px;
		overflow: hidden;
		
		&::before {
			content: "";
			height: 18px;
			width: 18px;
			mask-image: url("chrome://userchrome/content/frameworks/GeckiumMaterial/icons/info_outline.svg");
			mask-size: cover;
			mask-position: center center;
			background: rgb(126, 126, 126);
		}

		&:hover {
			background: rgb(0, 0, 0, 6%);
		}

		.ripple {
			background: rgb(0, 0, 0, 20%);
		}
	}
}

.people-picture {
	appearance: none;
	display: flex;
	position: relative;
	width: 58px;
	aspect-ratio: 1 / 1;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 4px 0px !important;

	&:not([disabled]) {
		cursor: pointer;
	}

	&.color {
		&.ripple-enabled {
			.ripple {
				background: color-mix(
					in srgb,
					var(--secondary-color, var(--primary-color)) 40%,
					transparent
				);
			}
		}
	}

	&:checked {
		outline: 2px solid var(--secondary-color, var(--primary-color));
		outline-offset: -2px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			display: block;
		}

		&::before {
			background-color: color-mix(
				in srgb,
				color-mix(
					in srgb,
					var(--secondary-color, var(--primary-color)),
					transparent 60%
				),
				rgb(0, 0, 0, 20%)
			);
		}

		&::after {
			mask-image: url(chrome://userchrome/content/frameworks/GeckiumMaterial/icons/check.svg);
			mask-size: 32px 32px;
			mask-position: center center;
			mask-repeat: no-repeat;
			background: rgb(255, 255, 255);
		}
	}
}

.banner {
	position: relative;
	background: url("chrome://userchrome/content/windows/gflags/imgs/banner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	list-style-image: url("chrome://userchrome/content/windows/gflags/imgs/logo.svg");
	fill: #209f43;
	-moz-context-properties: fill, fill-opacity;
	padding: var(--inner-padding);
	align-items: center;
	font-weight: 500;
	gap: 32px;

	> image {
		filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
	}
}

#ntp-visual-styles-grid {
	/*> [for="chrome-6"],
	> [for="chrome-25"],
	> [for="chrome-68"] {
		display: none;
	}*/

	.link.chrome-appearance {
		height: 163px;
	}
}

.chrome-appearance  {
	.radio-parent {
		margin-inline-start: 0 !important;
	}
}

#profile-pic-content {
	&[profile-pic-button="false"] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.profile-mode-option {
	display: none;
}

#card-avatar {
	&:not([profile-pic-mode="0"], [profile-pic-mode="2"]) {
		padding-block-end: 19px;
	}

	> .item:nth-child(2) {
		display: none;
	}


	&[profile-pic-mode="1"] {
		> .item:nth-child(2) {
			display: flex;
		}

		#profile-pictures-grid {
			display: grid;
		}
	}

	&[profile-pic-mode="0"],
	&[profile-pic-mode="2"] {
		> .item:nth-child(1) {
			border-bottom: 0;
		}
	}

	&[profile-pic-mode="3"] {
		> .item:nth-child(2) {
			display: flex;
		}

		#profile-pictures-path {
			display: flex;
		}
	}
}

#gk_version {
	position: relative;
	overflow: hidden;
	padding-inline: 8px;
	border-radius: 9999px;
	width: fit-content;
	transition: background-color 155ms;

	&:not([disabled]) {
		cursor: pointer;

		&:hover,
		&:focus-visible {
			background: rgba(153, 153, 153, .2);
		}

		.ripple {
			background: rgba(153, 153, 153, .4);
		}
	}
}

#chrthemes-list {
	display: flex;
	background: transparent !important; 
	box-shadow: none !important; 
	flex-wrap: wrap;
	margin-inline: -10px;
	gap: 20px 0;
}
.chrthemewrapper {
	padding-inline: 10px;
	width: calc(50% - 20px);
}
.item.chrtheme {
	position: relative;
	display: block;
	cursor: pointer !important;
	padding-inline: 10px;

	.banner {
		padding: 0 !important;
		margin-inline: -19px;

		height: 150px;
		background-color: rgb(0, 0, 0, 10%);
	}

	.icon {
		margin-inline-end: 16px;
		width: 48px;
		height: 48px;

		&[src="chrome://userchrome/content/windows/gflags/imgs/logo.svg"] {
			filter: saturate(0);
			fill: #209f43;
			-moz-context-properties: fill, fill-opacity;
			opacity: .5;
		}
	}

	.name, .description {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin: 0 !important;
	}

	.version {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 10px;
		padding-inline: 4px;
		padding-block: 2px;
		color: white;
		font-weight: 500;
		background: var(--secondary-color);
		box-shadow: 0 1px 1px rgb(0, 0, 0, 40%);
		border-radius: 2px;
	}	
}

@media not (-moz-platform: windows) {
	#os-ux-button,
	#os-comp-button {
		display: none;
	}
}