& {
	--urlbar-border: rgb(192, 193, 198);
	--urlbar-verified-proxystate-valid: rgb(7, 149, 0);
	--urlbar-verified-proxystate-valid-overridden: rgb(162, 0, 58);

	#urlbar {
		&[breakout],
		&[breakout][breakout-extend] {
			left: 0 !important;
			width: 100% !important;
		}
	}

	#urlbar-container {
		margin-inline: 4px !important;
	}

	#urlbar-background,
	#searchbar {
		background-color: var(--toolbar-field-background-color) !important;
		border: 1px solid var(--urlbar-border) !important;
		border-radius: var(--toolbarbutton-radius) !important;
	}

	.urlbar-input-box {
		height: calc(var(--urlbar-height-definitive) - 1px) !important;
	}

	#urlbar-input {
		&::placeholder {
			text-align: start;
			color: transparent;
		}
	}

	.urlbarView {
		transform: unset;
		width: 100% !important;
	}

	#nav-bar {
		&[securestate="chrome"] {
			#identity-box {
				display: flex !important;
			}
		}

		&[securestate="secure"],
		&[securestate="ev"] {
			#identity-icon {
				list-style-image: url(assets/img/chrome-11/toolbar/omnibox_https_valid.png) !important;
			}
		}

		&[securestate="ev"] {
			#identity-icon-box {
				align-self: center;
				margin-block-start: 1px;
				margin-inline-start: -2px;
				padding-inline: 1px !important;
				height: calc(var(--urlbar-height-definitive) - 4px);
				border-radius: calc(
					var(--toolbarbutton-border-radius) - 1px
				) !important;
				border-width: 1px;
				border-style: solid;
				border-color: rgb(133, 193, 133);
				background: linear-gradient(
					to bottom,
					white 1px,
					rgb(237, 255, 237) 2px,
					rgb(201, 242, 201)
				);

				&:hover,
				&[open] {
					background: linear-gradient(
						to bottom,
						white 1px,
						rgb(237, 255, 237) 2px,
						rgb(201, 242, 201)
					) !important;
				}
			}

			#identity-icon {
				margin-inline-end: 3px;
			}

			#custom-identity-label {
				display: flex;
			}
		}

		#identity-box:not([pageproxystate="valid"]) {
			#identity-icon-box {
				background: transparent;
				margin: 0;
				border: 0;
			}
			#custom-identity-label {
				display: none;
			}
		}

		&[securestate="warning"] {
			#identity-icon {
				list-style-image: url(assets/img/chrome-11/toolbar/omnibox_https_warning.png) !important;
			}
		}

		&[securestate="insecure"] {
			#identity-icon {
				list-style-image: url(assets/img/chrome-11/toolbar/omnibox_https_invalid.png) !important;
			}
		}

		#custom-identity-label {
			display: none;
		}
	}

	#star-button-box > #star-button,
	#star-button-box > #star-button[starred] {
		fill: color-mix(
			in srgb,
			color-mix(in srgb, var(--toolbarbutton-icon-fill) 55%, #000) 80%,
			white
		) !important;
	}

	#star-button-box {
		padding: 0 !important;
		align-items: center;
		justify-content: center;

		&:hover,
		&:active,
		&[open] {
			background-color: transparent !important;
		}
	}

	#custom-identity-label {
		margin: 0 !important;
		font-size: 9pt !important;
	}
}
