& {
	font: small arial,sans-serif;

	// chrtheme
	&[lwtheme-id*="default-theme"][chrtheme="true"] {
		--link-color: var(--default-link-color);
	}
}

&[pref="newtab"] {
	#bookmarksbar-spacing {
		display: none;
	}
}

#attribution {
	right: 0;
	bottom: 0;
	color: var(--thumbnail-container-color);
}

@import "google";
@import "most-visited";