&:not([icon-ntp]) {
	#mv-tiles {
		gap: 16px;
	}
	
	.mv-tile {
		position: relative;
		border-radius: 2px;
		height: 126px;
		padding-inline: 3px;
		text-decoration: none;
		color: black;
		font-size: 9pt;
		transition-duration: 200ms;
		transition-property: border, box-shadow;
	
		&[disabled] {
			background: rgb(242,242,242);
		}
		&:not([disabled]) {
			border: 1px solid rgba(150,150,150,0.3137254901960784);
			background: rgb(242,242,242);
	
			&:hover,
			&:focus {
				border-color: rgba(150,150,150,1);
				box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
				
				.mv-x {
					opacity: 1;
					transition-delay: 500ms;
				}
			}
		}
	
		button {
			all: unset;
		}
	
		.title-container {
			height: 31px;
			align-items: center;
			padding-inline-start: 4px;
		}
	
		.mv-favicon {
			margin-inline-end: 9px;
		}
	
		.mv-title {
			overflow: hidden;
			white-space: nowrap;
			width: 100%;
			mask-image: linear-gradient(
				to right,
				#000,
				#000,
				100px,
				transparent
			);
		}
	
		.mv-x {
			position: absolute;
			top: 0;
			right: 0;
			width: 32px;
			height: 32px;
			background: linear-gradient(
				to left,
				rgb(242,242,242) 60%,
				transparent
			);
			opacity: 0;
	
			transition: opacity 150ms;
	
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-47/imgs/close_3_mask.png");
				mask-position: center;
				mask-repeat: no-repeat;
				background-color: rgba(90,90,90,0.7);
			}
	
			&:not([disabled]) {
				&:hover,
				&:focus {
					transition: none;
	
					&::after {
						background-color: rgb(90,90,90);
					}
				}
	
				&:active {
					&::after {
						background-color: rgb(66,133,244);
					}
				}
			}
		}
	
		.mv-thumb {
			background-color: #fff;
			background-position: top center;
			background-size: cover;
			height: 94px;
			width: 148px;
		}
	}
}
&[icon-ntp] {
	#mv-tiles {
		gap: 24px;
		width: 433px;
	}

	.mv-tile {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: rgb(126,126,126);
		text-decoration: none;
		text-align: center;
		font-size: 9pt;
		width: 84px;

		@media (prefers-color-scheme: dark) {
			color: rgb(170, 170, 170);
		}

		&:not([disabled]) {
			&:hover,
			&:focus {
				.mv-x {
					opacity: 1;
					transition-delay: 500ms;
				}
			}
		}

		&[style="list-style-image: url(chrome://userchrome/content/assets/img/toolbar/grayfolder.png)"] {
			.mv-favicon {
				display: none;
			}

			&::before {
				content: attr(data-letter);
				display: flex;
				border-radius: 4px;
				font-size: 15pt;
				color: white;
				align-items: center;
				justify-content: center;
				background-color: rgb(128,128,128);
			}
		}

		.mv-favicon,
		&::before {
			width: 48px;
			height: 48px;
			margin-block-end: 8px;
		}

		.mv-title {
			height: 29px;
			overflow: hidden;
		}

		.mv-x {
			all: unset;

			position: absolute;
			top: -8px;
			right: 10px;
			height: 16px;
			width: 16px;
			background: black;
			opacity: 0;
	
			transition: opacity 150ms;
	
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-47/imgs/close_3_mask.png");
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: 8px;
				background-color: white;
			}
	
			&:not([disabled]) {
				&:hover,
				&:focus {
					transition: none;
				}
			}
		}
	}
}