&[geckium-choice="eleven"] {
	#main-container {
		padding-block-start: 25px
	}
}

&[pref="newtab"] {
	#bookmarksbar-spacing {
		height: 46px;
	}
}

#attribution {
	align-items: start;
	margin-block-start: auto;
	margin-block-end: 5px;
	margin-inline-start: 8px;
	align-items: end;
	width: fit-content;
}

@import "sections";
@import "most-visited";
@import "footer";