& {
	--thumbnail-border-color-normal: rgb(229, 229, 229);
	--thumbnail-border-color-hot: rgb(150,150,150);
	--thumbnail-container-color: black;
	--edit-bar-background-color-hot: rgb(150,150,150);
	--edit-bar-background-hot: linear-gradient(
		to bottom,
		rgba(185,185,185),
		var(--edit-bar-background-color-hot)
	);

	@media (prefers-color-scheme: dark) {
		--thumbnail-border-color-normal: rgb(88, 88, 88);
		--thumbnail-container-color: white;
	}
}