&[geckium-choice="four"],
&[geckium-choice="five"],
&[geckium-choice="six"] {
	#main {
		background: url(assets/chrome-4/product_logo.png) no-repeat 0px 8px;
	}

	&[style*="--chrt-ntp-logo-alternate: 1;"] {
		#main {
			background: url(assets/chrome-4/product_logo_alternate.png) no-repeat 0px 8px;
		}
	}
}

#attribution {
	display: none;
	align-items: end;
	margin-block: 10px;
	color: var(--link-color);
	font-size: 10pt;
}

@import "most-visited";
@import "recently-closed";