& {
	--default-view-toolbar-buttons-bg: rgb(134,177,231);
	--view-toolbar-buttons-bg: var(--default-view-toolbar-buttons-bg);
	--default-window-menu-item-hover-bg: rgb(134,177,231);

	--default-thumbnail-disabled-color: #DFEAF7;

	// Custom theme support
	// lwtheme
	&:not([lwtheme-id*="default-theme"]) {
		&:not([lwtheme-id*="firefox-compact"]) {
			&[lwtheme-id*="{"],
			&[lwtheme-id*="@mozilla.org"] {
				&:not([lwtheme-id*="#{$gtkplus}"]) {
					--view-toolbar-buttons-bg: var(--toolbar-color, var(--lwt-text-color)) !important;
					--window-menu-item-hover-bg: var(--toolbar-color, var(--lwt-text-color)) !important;
		
					--thumbnail-border-color-normal: color-mix(in srgb, var(--edit-bar-background-color-hot) 50%, white) !important;
					--thumbnail-border-color-hot: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
					--thumbnail-container-color: var(--link-color) !important;
					--thumbnail-disabled-color: var(--thumbnail-border-color-normal) !important;
					
					&:not([style*="--toolbar-color: white"]),
					&:not([style*="--toolbar-color: rgb(255,255,255)"]),
					&:not([style*="--toolbar-color: rgba(255,255,255,1)"]) {
						--edit-bar-background-color-hot: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
						--edit-bar-background-hot: linear-gradient(
							to bottom,
							color-mix(in srgb, var(--edit-bar-background-color-hot) 70%, white),
							var(--edit-bar-background-color-hot)
						) !important;
					}
		
					--link-color: var(--lwt-accent-color) !important;
		
					&[style*="--arrowpanel-background"] {
						--link-color: var(--arrowpanel-color, var(--lwt-accent-color)) !important;
					}
				}
				&[lwtheme-id*="#{$gtkplus}"] {
					--view-toolbar-buttons-bg: AccentColor !important;
					--window-menu-item-hover-bg: AccentColor !important;
		
					--thumbnail-border-color-normal: color-mix(in srgb, ActiveCaption 10%, white) !important;
					--thumbnail-border-color-hot: color-mix(in srgb, var(--edit-bar-background-color-hot) 99%, black) !important;
					--thumbnail-container-color: -moz-dialogtext;
					--edit-bar-background-color-hot: color-mix(in srgb, AccentColor 85%, black) !important;
					--edit-bar-background-hot: linear-gradient(
						to bottom,
						color-mix(in srgb, var(--edit-bar-background-color-hot) 70%, white),
						var(--edit-bar-background-color-hot)
					) !important;
				}
			}
		}
	}
	// chrtheme
	&[lwtheme-id*="default-theme"][chrtheme="true"] {
		--manually-adapted-header: var(--chrt-ntp-section, var(--chrt-ntp-header));
		--view-toolbar-buttons-bg: color-mix(
			in srgb,
			var(--manually-adapted-header) 70%,
			white
		);
		
		/*&[style*="--chrt-ntp-section"] {
			--thumbnail-border-color-normal: color-mix(
				in srgb,
				var(--manually-adapted-header) 20%,
				white
			) !important;
			//--thumbnail-border-color-hot: var(--manually-adapted-header, var(--default-thumbnail-border-color-hot)) !important;
		}*/
		--thumbnail-border-color-normal: var(--chrt-ntp-section, var(--default-thumbnail-border-color-normal)) !important;
		--thumbnail-border-color-hot: var(--chrt-ntp-header, var(--chrt-ntp-section, var(--default-thumbnail-border-color-hot))) !important;
		--thumbnail-container-color: var(--chrt-ntp-text, var(--default-thumbnail-container-color)) !important;
		--window-menu-item-hover-bg: var(--view-toolbar-buttons-bg, var(--default-window-menu-item-hover-bg)) !important;
		
		--edit-bar-background-color-hot: var(--thumbnail-border-color-hot, var(--default-thumbnail-border-color-hot)) !important;
		--edit-bar-background-hot: linear-gradient(
			to bottom,
			color-mix(
				in srgb,
				var(--edit-bar-background-color-hot) 70%,
				white
			),
			var(--edit-bar-background-color-hot)
		) !important;
	}
}

#view-toolbar {
	margin-block: 15px;

	> input,
	> button {
		border-radius: 4px;
		background-color: var(--view-toolbar-buttons-bg);
		
		&#thumb-checkbox {
			background-image: url(assets/chrome-5/imgs/newtab_thumb_off.png);

			&:not([disabled]) {
				&:hover {
					background-image: url(assets/chrome-5/imgs/newtab_thumb_off_h.png);
				}

				&:active {
					background-image: url(assets/chrome-5/imgs/newtab_thumb_off_p.png);
				}

				&:checked {
					background-image: url(assets/chrome-5/imgs/newtab_thumb_on.png);
	
					&:not([disabled]) {
						&:hover {
							background-image: url(assets/chrome-5/imgs/newtab_thumb_on_h.png);
						}
	
						&:active {
							background-image: url(assets/chrome-5/imgs/newtab_thumb_on_p.png);
						}
					}
				}
			}
		}

		&#list-checkbox {
			background-image: url(assets/chrome-5/imgs/newtab_list_off.png);

			&:not([disabled]) {
				&:hover {
					background-image: url(assets/chrome-5/imgs/newtab_list_off_h.png);
				}

				&:active {
					background-image: url(assets/chrome-5/imgs/newtab_list_off_p.png);
				}

				&:checked {
					background-image: url(assets/chrome-5/imgs/newtab_list_on.png);
	
					&:not([disabled]) {
						&:hover {
							background-image: url(assets/chrome-5/imgs/newtab_list_on_h.png);
						}
					}
				}
			}
		}

		&#option-button {
			background-image: url(assets/chrome-5/imgs/newtab_option.png);

			&:not([disabled]) {
				&:hover {
					background-image: url(assets/chrome-5/imgs/newtab_option_h.png);
				}

				&:active {
					background-image: url(assets/chrome-5/imgs/newtab_option_p.png);
				}

				&[open] {
					background-image: url(assets/chrome-5/imgs/newtab_option_p.png);
				}
			}
		}
	}
}

#most-visited,
#most-viewed-content,
#most-visited-page .tile-grid,
#mv-tiles {
	&.list {
		.thumbnail-container {
			text-decoration: underline;
			color: var(--link-color);
			font-size: 12pt;

			.title {
				height: 34px;
			}
		}
	}
}

.thumbnail-container {
	&[disabled] {
		.thumbnail-wrapper {
			border: solid var(--thumbnail-disabled-color);
		}

		.thumbnail {
			background-color: var(--thumbnail-disabled-color);
			border: 1px solid white;
			padding: 0;
		}
	}

	&.pinned {
		.pin {
			list-style-image: url(assets/chrome-5/imgs/newtab_pin_on.png);

			&:hover {
				list-style-image: url(assets/chrome-5/imgs/newtab_pin_on_h.png);
			}

			&:active {
				list-style-image: url(assets/chrome-5/imgs/newtab_pin_on_p.png);
			}
		}
	}

	.edit-bar {
		button {
			&.pin {
				list-style-image: url(assets/chrome-5/imgs/newtab_pin_off.png);
		
				&:hover {
					list-style-image: url(assets/chrome-5/imgs/newtab_pin_off_h.png);
				}
		
				&:active {
					list-style-image: url(assets/chrome-5/imgs/newtab_pin_off_p.png);
				}
			}
		
			&.remove {
				list-style-image: url(assets/chrome-5/imgs/newtab_close.png);
		
				&:hover {
					list-style-image: url(assets/chrome-5/imgs/newtab_close_h.png);
				}
		
				&:active {
					list-style-image: url(assets/chrome-5/imgs/newtab_close_p.png);
				}
			}
		}
	}
}